In [1]:
# import all the required libraries
import pandas as pd
import selenium
from bs4 import BeautifulSoup
import time

# Importing selenium webdriver
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.keys import Keys

#Importing requests
import requests

In [2]:
# Lets first connect to the wed driver
driver=webdriver.Chrome(r"C:\Users\karishma yadav\Downloads\chromedriver_win32\chromedriver.exe")

In [152]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe")

# Opening the homepage of wikipedia.com
url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

# Extracting name from xpath
name=driver.find_elements_by_xpath('//a[@class="mw-redirect"]')   
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Name=[]
for i in name:
    Name.append(i.text) 
    
# Extracting upload date from xpath
upload_date=driver.find_elements_by_xpath('//td[@align="right"]')  
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Upload_date=[]
for j in upload_date:
    Upload_date.append(j.text)

In [6]:
# Extracting Rank from xpath
rank=driver.find_elements_by_xpath('//td[@align="center"]')

In [29]:
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Rak=[]
for i in rank:
    Rak.append(i.text)    
Rak

['1.',
 '8.96',
 '[B]',
 '2.',
 '7.44',
 '[C]',
 '3.',
 '5.55',
 '[D]',
 '4.',
 '5.38',
 '[E]',
 '5.',
 '5.18',
 '[F]',
 '6.',
 '4.44',
 '[G]',
 '7.',
 '4.31',
 '[H]',
 '8.',
 '4.26',
 '[I]',
 '9.',
 '4.23',
 '[J]',
 '10.',
 '4.12',
 '[K]',
 '11.',
 '3.99',
 '12.',
 '3.51',
 '13.',
 '3.46',
 '14.',
 '3.45',
 '15.',
 '3.39',
 '16.',
 '3.34',
 '17.',
 '3.29',
 '18.',
 '3.15',
 '19.',
 '3.10',
 '20.',
 '3.10',
 '21.',
 '3.07',
 '22.',
 '3.07',
 '23.',
 '3.06',
 '24.',
 '3.06',
 '25.',
 '3.03',
 '26.',
 '2.94',
 '27.',
 '2.90',
 '28.',
 '2.88',
 '29.',
 '2.88',
 '30.',
 '2.85',
 '',
 '',
 '[118]',
 '[O]',
 '[28]',
 '[35]',
 '[P]',
 '[119]',
 '[Q]',
 '93',
 '[122]',
 '[R]',
 '171',
 '[125]',
 '176',
 '[126]',
 '289',
 '[129]',
 '124',
 '[130]',
 '14',
 '[132]',
 '[S]',
 '[135]',
 '[T]',
 '68',
 '[137]',
 '[U]',
 '22',
 '[142]',
 '28',
 '[144]',
 '[V]',
 '12',
 '[146]',
 '[148]',
 '[W]',
 '[151]',
 '[152]']

In [42]:
Rank1=[]
rank=driver.find_elements_by_xpath('//td[@align="center"]')   
for j in rank:
    Rank1.append(j.text)    
print(Rank1[0:1])

Rank2=[]
rank=driver.find_elements_by_xpath('//td[@align="center"]')   
for j in rank:
    Rank2.append(j.text)    
print(Rank2[3:4])

Rank3=[]
rank=driver.find_elements_by_xpath('//td[@align="center"]')   
for j in rank:
    Rank3.append(j.text)    
print(Rank3[6:7])

Rank4=[]
rank=driver.find_elements_by_xpath('//td[@align="center"]')   
for j in rank:
    Rank4.append(j.text)    
print(Rank4[9:10])

Rank5=[]
rank=driver.find_elements_by_xpath('//td[@align="center"]')   
for j in rank:
    Rank5.append(j.text)    
print(Rank5[12:13])

Rank6=[]
rank=driver.find_elements_by_xpath('//td[@align="center"]')   
for j in rank:
    Rank6.append(j.text)    
print(Rank6[15:16])

Rank7=[]
rank=driver.find_elements_by_xpath('//td[@align="center"]')   
for j in rank:
    Rank7.append(j.text)    
print(Rank7[18:19])

Rank8=[]
rank=driver.find_elements_by_xpath('//td[@align="center"]')   
for j in rank:
    Rank8.append(j.text)    
print(Rank8[21:22])

Rank9=[]
rank=driver.find_elements_by_xpath('//td[@align="center"]')   
for j in rank:
    Rank9.append(j.text)    
print(Rank9[24:25])

Rank10=[]
rank=driver.find_elements_by_xpath('//td[@align="center"]')   
for j in rank:
    Rank10.append(j.text)    
print(Rank10[27:28])

Rank11=[]
rank=driver.find_elements_by_xpath('//td[@align="center"]')   
for j in rank:
    Rank11.append(j.text)    
print(Rank11[30:31])

Rank12=[]
rank=driver.find_elements_by_xpath('//td[@align="center"]')   
for j in rank:
    Rank12.append(j.text)    
print(Rank12[34:35])

Rank13=[]
rank=driver.find_elements_by_xpath('//td[@align="center"]')   
for j in rank:
    Rank13.append(j.text)    
print(Rank13[36:37])

Rank14=[]
rank=driver.find_elements_by_xpath('//td[@align="center"]')   
for j in rank:
    Rank14.append(j.text)    
print(Rank14[38:39])

Rank15=[]
rank=driver.find_elements_by_xpath('//td[@align="center"]')   
for j in rank:
    Rank15.append(j.text)    
print(Rank15[40:41])

Rank16=[]
rank=driver.find_elements_by_xpath('//td[@align="center"]')   
for j in rank:
    Rank16.append(j.text)    
print(Rank16[42:43])

Rank17=[]
rank=driver.find_elements_by_xpath('//td[@align="center"]')   
for j in rank:
    Rank17.append(j.text)    
print(Rank17[44:45])

Rank18=[]
rank=driver.find_elements_by_xpath('//td[@align="center"]')   
for j in rank:
    Rank18.append(j.text)    
print(Rank18[46:47])

Rank19=[]
rank=driver.find_elements_by_xpath('//td[@align="center"]')   
for j in rank:
    Rank19.append(j.text)    
print(Rank19[48:49])

['1.']
['2.']
['3.']
['4.']
['5.']
['6.']
['7.']
['8.']
['9.']
['10.']
['11.']
['13.']
['14.']
['15.']
['16.']
['17.']
['18.']
['19.']
['20.']

In [45]:
Rank=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
Rank

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [62]:
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
View=[]
# Extracting Views from xpath
view=driver.find_elements_by_xpath('//td[@align="center"]')   
for j in view:
    View.append(j.text)    
print(View[1:2])

# I will run a loop to iterate over the tags extracted above and extract the text inside them.
View1=[]
# Extracting Views from xpath
view=driver.find_elements_by_xpath('//td[@align="center"]')   
for j in view:
    View1.append(j.text)    
print(View1[4:5])

# I will run a loop to iterate over the tags extracted above and extract the text inside them.
View2=[]
# Extracting Views from xpath
view=driver.find_elements_by_xpath('//td[@align="center"]')   
for j in view:
    View2.append(j.text)    
print(View2[7:8])

# I will run a loop to iterate over the tags extracted above and extract the text inside them.
View3=[]
# Extracting Views from xpath
view=driver.find_elements_by_xpath('//td[@align="center"]')   
for j in view:
    View3.append(j.text)    
print(View3[10:11])

# I will run a loop to iterate over the tags extracted above and extract the text inside them.
View4=[]
# Extracting Views from xpath
view=driver.find_elements_by_xpath('//td[@align="center"]')   
for j in view:
    View4.append(j.text)    
print(View4[13:14])

# I will run a loop to iterate over the tags extracted above and extract the text inside them.
View5=[]
# Extracting Views from xpath
view=driver.find_elements_by_xpath('//td[@align="center"]')   
for j in view:
    View5.append(j.text)    
print(View5[16:17])

# I will run a loop to iterate over the tags extracted above and extract the text inside them.
View6=[]
# Extracting Views from xpath
view=driver.find_elements_by_xpath('//td[@align="center"]')   
for j in view:
    View6.append(j.text)    
print(View6[19:20])

# I will run a loop to iterate over the tags extracted above and extract the text inside them.
View7=[]
# Extracting Views from xpath
view=driver.find_elements_by_xpath('//td[@align="center"]')   
for j in view:
    View7.append(j.text)    
print(View7[22:23])

# I will run a loop to iterate over the tags extracted above and extract the text inside them.
View8=[]
# Extracting Views from xpath
view=driver.find_elements_by_xpath('//td[@align="center"]')   
for j in view:
    View8.append(j.text)    
print(View8[25:26])

# I will run a loop to iterate over the tags extracted above and extract the text inside them.
View9=[]
# Extracting Views from xpath
view=driver.find_elements_by_xpath('//td[@align="center"]')   
for j in view:
    View9.append(j.text)    
print(View9[28:29])

# I will run a loop to iterate over the tags extracted above and extract the text inside them.
View10=[]
# Extracting Views from xpath
view=driver.find_elements_by_xpath('//td[@align="center"]')   
for j in view:
    View10.append(j.text)    
print(View10[31:32])

# I will run a loop to iterate over the tags extracted above and extract the text inside them.
View11=[]
# Extracting Views from xpath
view=driver.find_elements_by_xpath('//td[@align="center"]')   
for j in view:
    View11.append(j.text)    
print(View11[33:34])

# I will run a loop to iterate over the tags extracted above and extract the text inside them.
View12=[]
# Extracting Views from xpath
view=driver.find_elements_by_xpath('//td[@align="center"]')   
for j in view:
    View12.append(j.text)    
print(View12[35:36])

# I will run a loop to iterate over the tags extracted above and extract the text inside them.
View13=[]
# Extracting Views from xpath
view=driver.find_elements_by_xpath('//td[@align="center"]')   
for j in view:
    View13.append(j.text)    
print(View13[37:38])

# I will run a loop to iterate over the tags extracted above and extract the text inside them.
View14=[]
# Extracting Views from xpath
view=driver.find_elements_by_xpath('//td[@align="center"]')   
for j in view:
    View14.append(j.text)    
print(View14[39:40])

# I will run a loop to iterate over the tags extracted above and extract the text inside them.
View15=[]
# Extracting Views from xpath
view=driver.find_elements_by_xpath('//td[@align="center"]')   
for j in view:
    View15.append(j.text)    
print(View15[43:44])

# I will run a loop to iterate over the tags extracted above and extract the text inside them.
View16=[]
# Extracting Views from xpath
view=driver.find_elements_by_xpath('//td[@align="center"]')   
for j in view:
    View16.append(j.text)    
print(View16[45:46])

# I will run a loop to iterate over the tags extracted above and extract the text inside them.
View17=[]
# Extracting Views from xpath
view=driver.find_elements_by_xpath('//td[@align="center"]')   
for j in view:
    View17.append(j.text)    
print(View17[47:48])

# I will run a loop to iterate over the tags extracted above and extract the text inside them.
View18=[]
# Extracting Views from xpath
view=driver.find_elements_by_xpath('//td[@align="center"]')   
for j in view:
    View18.append(j.text)    
print(View18[49:50])

# I will run a loop to iterate over the tags extracted above and extract the text inside them.
View19=[]
# Extracting Views from xpath
view=driver.find_elements_by_xpath('//td[@align="center"]')   
for j in view:
    View19.append(j.text)    
print(View19[51:52])

# I will run a loop to iterate over the tags extracted above and extract the text inside them.
View20=[]
# Extracting Views from xpath
view=driver.find_elements_by_xpath('//td[@align="center"]')   
for j in view:
    View20.append(j.text)    
print(View20[53:54])

['8.96']
['7.44']
['5.55']
['5.38']
['5.18']
['4.44']
['4.31']
['4.26']
['4.23']
['4.12']
['3.99']
['3.51']
['3.46']
['3.45']
['3.39']
['3.29']
['3.15']
['3.10']
['3.10']
['3.07']
['3.07']

In [64]:
Views=[8.96,7.44,5.55,5.38,5.18,4.44,4.31,4.26,4.23,4.12,3.99,3.51,3.46,3.45,3.39,3.29,3.15,3.10,3.10,3.07,3.07]
Views

[8.96,
 7.44,
 5.55,
 5.38,
 5.18,
 4.44,
 4.31,
 4.26,
 4.23,
 4.12,
 3.99,
 3.51,
 3.46,
 3.45,
 3.39,
 3.29,
 3.15,
 3.1,
 3.1,
 3.07,
 3.07]

In [25]:
# Extracting artist from xpath
artist=driver.find_elements_by_xpath('//a[@title="Pinkfong"]')

In [26]:
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Artist=[]
for j in artist:
    Artist.append(j.text)    
Artist

['Pinkfong', "Pinkfong Kids' Songs & Stories", 'Pinkfong', 'Pinkfong']

In [65]:
# make a DataFrame
a={"Rank":Rank,     "Name": Name,     "Views": Views,     "Upload Date": Upload_date}
YouTube=pd.DataFrame.from_dict(a, orient='index')
YouTube=YouTube.transpose()

In [68]:
YouTube[:21]

,Rank,Name,Views,Upload Date
0,1,music videos,8.96,"June 17, 2016"
1,2,Baby Shark Dance,7.44,"January 12, 2017"
2,3,Baby Shark Dance,5.55,"October 8, 2016"
3,4,Baby Shark Dance,5.38,"January 30, 2017"
4,5,Cocomelon – Nursery Rhymes,5.18,"April 6, 2015"
5,6,Cocomelon – Nursery Rhymes,4.44,"January 31, 2012"
6,7,Cocomelon – Nursery Rhymes,4.31,"May 2, 2018"
7,8,The Gummy Bear Song,4.26,"February 27, 2018"
8,9,Fueled By Ramen,4.23,"November 19, 2014"
9,10,The Gummy Bear Song,4.12,"July 15, 2012"
10,11,Osito Gominola – Full Spanish Version – The Gu...,3.99,"March 6, 2014"
11,12,Baby Shark Dance,3.51,"January 14, 2015"
12,13,Closer,3.46,"April 5, 2018"
13,14,Cocomelon – Nursery Rhymes,3.45,"October 22, 2015"
14,15,Cocomelon – Nursery Rhymes,3.39,"September 5, 2013"
15,16,Baby Shark Dance,3.29,"May 31, 2013"
16,17,List of most-viewed online trailers in the fir...,3.15,"October 7, 2014"
17,18,regional restrictions,3.1,"May 24, 2018"
18,19,regional restrictions,3.1,"February 20, 2014"
19,20,Wired,3.07,"December 3, 2015"
20,None,,3.07,"August 18, 2014"

# Question 2

In [3]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe")

In [153]:
# Opening the homepage of bcci.tv
url='https://www.bcci.tv/'
driver.get(url)

# extract all the tags having the match_title
Match_Title=[]
match_title=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']")
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
for i in match_title:
    Match_Title.append(i.text)
    
# extract all the tags having the date    
Date=[]
date=driver.find_elements_by_xpath("//span[@class='fixture__date']") 
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
for i in date:
    Date.append(i.text) 
    
    
# extract all the tags having the place
Place=[]
place=driver.find_elements_by_xpath("//div[@class='fixture__info u-skewed']")
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
for i in place:
    Place.append(i.text) 
    
    
# extract all the tags having the series
Series=[]
series=driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']")
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
for j in series:
    Series.append(j.text)  
    
Time=[]
time=driver.find_elements_by_xpath("//div[@class='fixture__full-date']")
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
for j in time:
    Time.append(j.text)    

# make a dataframe    
India_Match=pd.DataFrame({})
India_Match['Match_Title']=Match_Title
India_Match['Time']=Time
India_Match['Series']=Series
India_Match['Place']=Place
India_Match['Date']=Date

In [154]:
India_Match[:10]

,Match_Title,Time,Series,Place,Date
0,2nd ODI Maharashtra Cricket Association Stadiu...,,INDIA V ENGLAND 2021,ODI\nINDIA V ENGLAND 2021\nFriday 26 March\n2n...,
1,3rd ODI Maharashtra Cricket Association Stadiu...,,INDIA V ENGLAND 2021,ODI\nINDIA V ENGLAND 2021\nSunday 28 March\n3r...,
2,"Only Test Bristol County Ground, Bristol",,,TEST\nWednesday 16 June\nOnly Test Bristol Cou...,
3,,,,,
4,,,,,
5,,,,,
6,,,,,
7,,,,,
8,,,,,
9,,,,,

# Question 3

In [141]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe")

# Opening the homepage of guru99.com
url= 'https://www.guru99.com/exception-handling-selenium.html'
driver.get(url)

In [150]:
# extract all the tags having the job_titles
Name=[]
name=driver.find_elements_by_xpath("//table[@class='table table-striped']")

In [151]:
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
for j in name:
    Name.append(j.text)    
Name

["Exception name Description\nElementNotVisibleException This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.\nElementNotSelectableException This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.\nNoSuchElementException This Exception occurs if an element could not be found.\nNoSuchFrameException This Exception occurs if the frame target to be switched to does not exist.\nNoAlertPresentException This Exception occurs when you switch to no presented alert.\nNoSuchWindowException This Exception occurs if the window target to be switch does not exist.\nStaleElementReferenceException This Selenium exception occurs happens when the web element is detached from the current DOM.\nSessionNotFoundException The WebDriver is acting after you quit the browser.\nTimeoutException Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn't found in the specified time.\nWebDriverException This Exception takes place when the WebDriver is acting right after you close the browser.\nConnectionClosedException This type of Exception takes place when there is a disconnection in the driver.\nElementClickInterceptedException The command may not be completed as the element receiving the events is concealing the element which was requested clicked.\nElementNotInteractableException This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.\nErrorInResponseException This happens while interacting with the Firefox extension or the remote driver server.\nErrorHandler.UnknownServerException Exception is used as a placeholder in case if the server returns an error without a stack trace.\nImeActivationFailedException This expectation will occur when IME engine activation has failed.\nImeNotAvailableException It takes place when IME support is unavailable.\nInsecureCertificateException Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.\nInvalidArgumentException It occurs when an argument does not belong to the expected type.\nInvalidCookieDomainException This happens when you try to add a cookie under a different domain instead of current URL.\nInvalidCoordinatesException This type of Exception matches an interacting operation that is not valid.\nInvalidElementStateExceptio It occurs when command can't be finished when the element is invalid.\nInvalidSessionIdException This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.\nInvalidSwitchToTargetException This occurs when the frame or window target to be switched does not exist.\nJavascriptException This issue occurs while executing JavaScript given by the user.\nJsonException It occurs when you afford to get the session when the session is not created.\nNoSuchAttributeException This kind of Exception occurs when the attribute of an element could not be found.\nMoveTargetOutOfBoundsException It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.\nNoSuchContextException ContextAware does mobile device testing.\nNoSuchCookieException This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.\nNotFoundException This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.\nRemoteDriverServerException This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.\nScreenshotException It is not possible to capture a screen.\nSessionNotCreatedException It happens when a new session could not be successfully created.\nUnableToSetCookieException This occurs if a driver is unable to set a cookie.\nUnexpectedTagNameException Happens if a support class did not get a web element as expected.\nUnhandledAlertException This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.\nUnexpectedAlertPresentException It occurs when there is the appearance of an unexpected alert.\nUnknownMethodException This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.\nUnreachableBrowserException This Exception occurs only when the browser is not able to be opened or crashed because of some reason.\nUnsupportedCommandException This occurs when remote WebDriver does n't send valid commands as expected."]

# Question 4

In [155]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe")

# Opening the homepage of statisticstimes.com
url= 'https://statisticstimes.com/economy/india/indian-states-gdp.php'
driver.get(url)

# Extracting Rank from xpath
rank=driver.find_elements_by_xpath('//td[@class="data1"]')   
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Rank=[]
for i in rank:
    Rank.append(i.text)    

# Extracting state from xpath
state=driver.find_elements_by_xpath('//td[@class="name"]')   
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
State=[]
for i in state:
    State.append(i.text)  
    
# Extracting current price from xpath
gsdp_current_price=driver.find_elements_by_xpath('//td[@class="data"]')   
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
GSDP_current_price=[]
for i in gsdp_current_price:
    GSDP_current_price.append(i.text)    
    
# Extracting current price from xpath
gsdp_c_p=driver.find_elements_by_xpath('//td[@class="data sorting_1"]')  
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
GSDP_c_p=[]
for i in gsdp_c_p:
    GSDP_c_p.append(i.text) 
    
# Extracting share from xpath
share=driver.find_elements_by_xpath('//td[@class="data"]')  
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Share=[]
for i in share:
    Share.append(i.text)  
    
# Extracting gdp from xpath
gdp=driver.find_elements_by_xpath('//td[@class="data"]')   
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
GDP=[]
for i in gdp:
    GDP.append(i.text)  
    
# make a DataFrame
a={"Rank": Rank,"State": State,"GSDP current price(19-20)": GSDP_current_price,"GSDP current price(18-19)":GSDP_c_p,"Share(18-19)": Share,"GDP($billion)":GDP}
GDP=pd.DataFrame.from_dict(a, orient='index')
GDP=GDP.transpose()

In [156]:
GDP[:34]

,Rank,State,GSDP current price(19-20),GSDP current price(18-19),Share(18-19),GDP($billion)
0,1,Maharashtra,-,"2,632,792",-,-
1,2,Tamil Nadu,13.94%,"1,630,208",13.94%,13.94%
2,3,Uttar Pradesh,399.921,"1,584,764",399.921,399.921
3,4,Gujarat,-,"1,502,899",-,-
4,5,Karnataka,"2,039,074","1,493,127","2,039,074","2,039,074"
5,6,West Bengal,"1,845,853","1,089,898","1,845,853","1,845,853"
6,7,Rajasthan,8.63%,"942,586",8.63%,8.63%
7,8,Andhra Pradesh,247.629,"862,957",247.629,247.629
8,9,Telangana,"1,312,929","861,031","1,312,929","1,312,929"
9,10,Madhya Pradesh,"1,215,307","809,592","1,215,307","1,215,307"
10,11,Kerala,"1,687,818","781,653","1,687,818","1,687,818"
11,12,Delhi,8.39%,"774,870",8.39%,8.39%
12,13,Haryana,240.726,"734,163",240.726,240.726
13,14,Bihar,"1,166,817","530,363","1,166,817","1,166,817"
14,15,Punjab,"1,123,982","526,376","1,123,982","1,123,982"
15,16,Odisha,-,"487,805",-,-
16,17,Assam,7.96%,"315,881",7.96%,7.96%
17,18,Chhattisgarh,228.290,"304,063",228.290,228.290
18,19,Jharkhand,-,"297,204",-,-
19,20,Uttarakhand,"1,186,379","245,895","1,186,379","1,186,379"
20,21,Jammu & Kashmir,"1,631,977","155,956","1,631,977","1,631,977"
21,22,Himachal Pradesh,7.91%,"153,845",7.91%,7.91%
22,23,Goa,226.806,"73,170",226.806,226.806
23,24,Tripura,"1,156,039","49,845","1,156,039","1,156,039"
24,25,Chandigarh,"1,091,077","42,114","1,091,077","1,091,077"
25,26,Puducherry,"1,253,832","34,433","1,253,832","1,253,832"
26,27,Meghalaya,5.77%,"33,481",5.77%,5.77%
27,28,Sikkim,165.556,"28,723",165.556,165.556
28,29,Manipur,"793,223","27,870","793,223","793,223"
29,30,Nagaland,"739,525","27,283","739,525","739,525"
30,31,Arunachal Pradesh,"1,020,989","24,603","1,020,989","1,020,989"
31,32,Mizoram,4.99%,"22,287",4.99%,4.99%
32,33,Andaman & Nicobar Islands,143.179,-,143.179,143.179
33,,India,"711,627","2,332,992","711,627","711,627"

# Question 5

In [88]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe")

In [103]:
# Opening the homepage of github.com
url= 'https://github.com/trending'
driver.get(url)

# Extracting Rank from xpath
title=driver.find_elements_by_xpath('//article[@class="Box-row"]/h1') 
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Title=[]
for j in title:
    Title.append(j.text)    


# Extracting Rank from xpath
description=driver.find_elements_by_xpath('//p[@class="col-9 color-text-secondary my-1 pr-4"]') 
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Description=[]
for j in description:
    Description.append(j.text)    


# Extracting Rank from xpath
language=driver.find_elements_by_xpath('//span[@class="d-inline-block ml-0 mr-3"]') 
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Language=[]
for j in language:
    Language.append(j.text)

In [97]:
# Extracting Rank from xpath
contributors_count=driver.find_elements_by_xpath('//a[@class="Link--muted d-inline-block mr-3"]')

In [98]:
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Contributors_count=[]
for j in contributors_count:
    Contributors_count.append(j.text)    
Contributors_count

['2,780',
 '123',
 '18,642',
 '4,144',
 '3,748',
 '297',
 '27,675',
 '3,618',
 '713',
 '89',
 '2,813',
 '254',
 '65,943',
 '8,659',
 '2,286',
 '225',
 '4,224',
 '783',
 '344',
 '25',
 '528',
 '80',
 '11,634',
 '2,660',
 '7,876',
 '1,134',
 '1,819',
 '442',
 '130',
 '34',
 '43,795',
 '4,834',
 '35,836',
 '5,141',
 '6,786',
 '2,860',
 '13,670',
 '2,808',
 '28,199',
 '720',
 '80',
 '44',
 '3,350',
 '567',
 '1,937',
 '152',
 '144',
 '86',
 '6,908',
 '961']

In [129]:
# Extracting Rank from xpath
contributors_count=driver.find_elements_by_xpath('//a[@class="Link--muted d-inline-block mr-3"]') 
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Contributors_count1=[]
for j in contributors_count:
    Contributors_count1.append(j.text)    
print(Contributors_count1[1:2])

# Extracting Rank from xpath
contributors_count=driver.find_elements_by_xpath('//a[@class="Link--muted d-inline-block mr-3"]') 
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Contributors_count2=[]
for j in contributors_count:
    Contributors_count2.append(j.text)    
print(Contributors_count2[5:6])

# Extracting Rank from xpath
contributors_count=driver.find_elements_by_xpath('//a[@class="Link--muted d-inline-block mr-3"]') 
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Contributors_count3=[]
for j in contributors_count:
    Contributors_count3.append(j.text)    
print(Contributors_count3[11:12])

# Extracting Rank from xpath
contributors_count=driver.find_elements_by_xpath('//a[@class="Link--muted d-inline-block mr-3"]') 
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Contributors_count4=[]
for j in contributors_count:
    Contributors_count4.append(j.text)    
print(Contributors_count4[15:16])

# Extracting Rank from xpath
contributors_count=driver.find_elements_by_xpath('//a[@class="Link--muted d-inline-block mr-3"]') 
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Contributors_count5=[]
for j in contributors_count:
    Contributors_count5.append(j.text)    
print(Contributors_count5[17:18])

# Extracting Rank from xpath
contributors_count=driver.find_elements_by_xpath('//a[@class="Link--muted d-inline-block mr-3"]') 
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Contributors_count6=[]
for j in contributors_count:
    Contributors_count6.append(j.text)    
print(Contributors_count6[18:19])

# Extracting Rank from xpath
contributors_count=driver.find_elements_by_xpath('//a[@class="Link--muted d-inline-block mr-3"]') 
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Contributors_count7=[]
for j in contributors_count:
    Contributors_count7.append(j.text)    
print(Contributors_count7[19:20])

# Extracting Rank from xpath
contributors_count=driver.find_elements_by_xpath('//a[@class="Link--muted d-inline-block mr-3"]') 
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Contributors_count8=[]
for j in contributors_count:
    Contributors_count8.append(j.text)    
print(Contributors_count8[20:21])

# Extracting Rank from xpath
contributors_count=driver.find_elements_by_xpath('//a[@class="Link--muted d-inline-block mr-3"]') 
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Contributors_count9=[]
for j in contributors_count:
    Contributors_count9.append(j.text)    
print(Contributors_count9[21:22])

# Extracting Rank from xpath
contributors_count=driver.find_elements_by_xpath('//a[@class="Link--muted d-inline-block mr-3"]') 
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Contributors_count1=[]
for j in contributors_count:
    Contributors_count1.append(j.text)    
print(Contributors_count1[28:29])

# Extracting Rank from xpath
contributors_count=driver.find_elements_by_xpath('//a[@class="Link--muted d-inline-block mr-3"]') 
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Contributors_count10=[]
for j in contributors_count:
    Contributors_count10.append(j.text)    
print(Contributors_count10[29:30])

# Extracting Rank from xpath
contributors_count=driver.find_elements_by_xpath('//a[@class="Link--muted d-inline-block mr-3"]') 
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Contributors_count11=[]
for j in contributors_count:
    Contributors_count11.append(j.text)    
print(Contributors_count11[40:41])

# Extracting Rank from xpath
contributors_count=driver.find_elements_by_xpath('//a[@class="Link--muted d-inline-block mr-3"]') 
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Contributors_count12=[]
for j in contributors_count:
    Contributors_count12.append(j.text)    
print(Contributors_count12[29:30])

# Extracting Rank from xpath
contributors_count=driver.find_elements_by_xpath('//a[@class="Link--muted d-inline-block mr-3"]') 
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Contributors_count13=[]
for j in contributors_count:
    Contributors_count13.append(j.text)    
print(Contributors_count13[41:42])

# Extracting Rank from xpath
contributors_count=driver.find_elements_by_xpath('//a[@class="Link--muted d-inline-block mr-3"]') 
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Contributors_count14=[]
for j in contributors_count:
    Contributors_count14.append(j.text)    
print(Contributors_count14[43:44])

# Extracting Rank from xpath
contributors_count=driver.find_elements_by_xpath('//a[@class="Link--muted d-inline-block mr-3"]') 
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Contributors_count15=[]
for j in contributors_count:
    Contributors_count15.append(j.text)    
print(Contributors_count15[45:46])

# Extracting Rank from xpath
contributors_count=driver.find_elements_by_xpath('//a[@class="Link--muted d-inline-block mr-3"]') 
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Contributors_count16=[]
for j in contributors_count:
    Contributors_count16.append(j.text)    
print(Contributors_count16[46:47])

['124']
['298']
['254']
['225']
['783']
['346']
['25']
['529']
['81']
['131']
['35']
['82']
['35']
['44']
['567']
['152']
['144']

In [131]:
Contributors_Count=[124,298,713,89,225,783,346,25,529,81,131,35,82,82,44,567,152,144]
Contributors_Count

[124,
 298,
 713,
 89,
 225,
 783,
 346,
 25,
 529,
 81,
 131,
 35,
 82,
 82,
 44,
 567,
 152,
 144]

In [139]:
# make a DataFrame
a={"Repository title": Title, "Repository description": Description, "Contributors count": Contributors_Count, "Language used": Language}
Github=pd.DataFrame.from_dict(a,orient='index')
Github=Github.transpose()

In [140]:
Github

,Repository title,Repository description,Contributors count,Language used
0,bndw / wifi-card,📶 Print a QR code for connecting to your WiFi,124,JavaScript
1,facebook / folly,An open-source C++ library developed and used ...,298,C++
2,microsoft / IoT-For-Beginners,"12 Weeks, 24 Lessons, IoT for All!",713,C++
3,NationalSecurityAgency / ghidra,Ghidra is a software reverse engineering (SRE)...,89,Java
4,microsoft / CBL-Mariner,Linux OS for Azure 1P services and edge applia...,225,Go
5,opensearch-project / OpenSearch,Open source distributed and RESTful search eng...,783,Java
6,avelino / awesome-go,"A curated list of awesome Go frameworks, libra...",346,Go
7,fenixsoft / awesome-fenix,讨论如何构建一套可靠的大型分布式系统,25,Vue
8,dromara / Sa-Token,这可能是史上功能最全的Java权限认证框架！目前已集成——登录认证、权限认证、分布式Sess...,529,Java
9,0vercl0k / wtf,"wtf is a distributed, code-coverage guided, cu...",81,C++
10,TencentARC / GFPGAN,"12 weeks, 24 lessons, classic Machine Learning...",131,Python
11,microsoft / ML-For-Beginners,专门为刚开始刷题的同学准备的算法基地，没有最细只有更细，立志用动画将晦涩难懂的算法说的通俗易懂！,35,Jupyter Notebook
12,chefyuan / algorithm-base,End-to-end image segmentation kit based on Pad...,82,Java
13,PaddlePaddle / PaddleSeg,微信消息解密工具,82,Python
14,JustYoomoon / WechatDecrypt," Now we have become very big, Different from ...",44,C++
15,jaywcjlove / awesome-mac,🇨🇳 GitHub中文排行榜，帮助你发现高分优秀中文项目、更高效地吸收国人的优秀经验成果；榜...,567,JavaScript
16,kon9chunkit / GitHub-Chinese-Top-Charts,Used to integrate the Facebook Platform with y...,152,Java
17,facebook / facebook-ios-sdk,A Go framework for microservices.,144,Objective-C
18,go-kratos / kratos,A cat(1) clone with wings.,None,Go
19,sharkdp / bat,This repository contains all the DSA (Data-Str...,None,Rust
20,Aaron-lv / sync,Model parallel transformers in JAX and Haiku,None,Jupyter Notebook
21,AkashSingh3031 / The-Complete-FAANG-Preparation,An open source vector database powered by Fais...,None,Python
22,kingoflolz / mesh-transformer-jax,None,None,JavaScript
23,smiek2221 / scripts,None,None,Go
24,milvus-io / milvus,None,None,None

# Question 6

In [160]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe")


# Opening the homepage of billboard.com
url='https://www.billboard.com/charts/hot-100'
driver.get(url)

# Extracting song_name from xpath
song_name=driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]') 
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Song_Name=[]
for j in song_name:
    Song_Name.append(j.text)
    
# Extracting artist name from xpath
artist_name=driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]')
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Artist_Name=[]
for j in artist_name:
    Artist_Name.append(j.text)    
    
# Extracting last week from xpath
last_week=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]') 
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Last_Week=[]
for j in last_week:
    Last_Week.append(j.text) 
    
# Extracting peak rank from xpath
peak_rank=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]') 
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Peak_Rank=[]
for j in peak_rank:
    Peak_Rank.append(j.text) 
    
# Extracting weeks board from xpath
weeks_board=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]') 
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Weeks_board=[]
for j in weeks_board:
    Weeks_board.append(j.text)  
    
# Make dataframe
Billboard_songs = pd.DataFrame({'Song Name':Song_Name,'Artist_Name':Artist_Name,'Last week rank':Last_Week,
                               'Peak rank':Peak_Rank,'Weeks on board':Weeks_board})

In [161]:
Billboard_songs

,Song Name,Artist_Name,Last week rank,Peak rank,Weeks on board
0,Butter,BTS,1,1,7
1,Good 4 U,Olivia Rodrigo,2,1,8
2,Levitating,Dua Lipa Featuring DaBaby,4,2,40
3,Kiss Me More,Doja Cat Featuring SZA,3,3,13
4,Montero (Call Me By Your Name),Lil Nas X,8,1,15
...,...,...,...,...,...
95,All I Know So Far,P!nk,-,74,4
96,What's Next,Drake,-,1,16
97,Enough For You,Olivia Rodrigo,-,14,6
98,Juggernaut,"Tyler, The Creator Featuring Lil Uzi Vert & Ph...",40,40,2
99,Tell Em,Cochise & $NOT,-,64,4

# Question 7

In [114]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe")

# Opening the homepage of naukri.com
url= 'https://www.naukri.com/hr-recruiters-consultants'
driver.get(url)

# finding element for job search bar
search_job=driver.find_element_by_id('skill')
search_job

# do click using xpath function
search_btn=driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']")
search_btn.click()

# extract all the tags having the name
Name=[]
name=driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
for i in name:
    Name.append(i.text)  
    
# extract all the tags having the designation
Designation=[]
designation=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
for i in designation:
    Designation.append(i.text)    

# extract all the tags having the skills
Skills=[]
skills=driver.find_elements_by_xpath("//p[@class='sklHd']")
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
for j in skills:
    Skills.append(j.text)

In [115]:
# extract all the tags having the job_titles
Lo=[]
location=driver.find_elements_by_xpath("//small[@class='ellipsis']")

In [116]:
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
for j in location:
    Lo.append(j.text)    
Location[1:2]
for j in location:
    Lo.append(j.text)    
Lo[1:2]

['Chennai']

In [117]:
Location1=[]
location=driver.find_elements_by_xpath("//small[@class='ellipsis']")
for j in location:
    Location1.append(j.text)    
print(Location1[3:4])

Location2=[]
location=driver.find_elements_by_xpath("//small[@class='ellipsis']")
for j in location:
    Location2.append(j.text)    
print(Location2[5:6])

Location3=[]
location=driver.find_elements_by_xpath("//small[@class='ellipsis']")
for j in location:
    Location3.append(j.text)    
print(Location3[7:8])

Location4=[]
location=driver.find_elements_by_xpath("//small[@class='ellipsis']")
for j in location:
    Location4.append(j.text)    
print(Location4[9:10])


Location5=[]
location=driver.find_elements_by_xpath("//small[@class='ellipsis']")
for j in location:
    Location5.append(j.text)    
print(Location5[11:12])

Location6=[]
location=driver.find_elements_by_xpath("//small[@class='ellipsis']")
for j in location:
    Location6.append(j.text)    
print(Location6[13:14])

Location7=[]
location=driver.find_elements_by_xpath("//small[@class='ellipsis']")
for j in location:
    Location7.append(j.text)    
print(Location7[15:16])

Location8=[]
location=driver.find_elements_by_xpath("//small[@class='ellipsis']")
for j in location:
    Location8.append(j.text)    
print(Location8[17:18])

Location9=[]
location=driver.find_elements_by_xpath("//small[@class='ellipsis']")
for j in location:
    Location9.append(j.text)    
print(Location9[19:20])

Location10=[]
location=driver.find_elements_by_xpath("//small[@class='ellipsis']")
for j in location:
    Location10.append(j.text)    
print(Location10[21:22])

Location11=[]
location=driver.find_elements_by_xpath("//small[@class='ellipsis']")
for j in location:
    Location11.append(j.text)    
print(Location11[23:24])

Location12=[]
location=driver.find_elements_by_xpath("//small[@class='ellipsis']")
for j in location:
    Location12.append(j.text)    
print(Location12[25:26])

Location13=[]
location=driver.find_elements_by_xpath("//small[@class='ellipsis']")
for j in location:
    Location13.append(j.text)    
print(Location13[27:28])

['Ahmedabad']
['Mumbai']
['Jaipur']
['Gurgaon']
['Pune']
['Noida']
['Mumbai']
['Chennai']
['Kolkata']
['Kolhapur']
['Kolkata']
['Mumbai']
['']

In [118]:
Location=['Chennai','Ahmedabad','Mumbai','Jaipur','Gurgaon','Pune','Noida','Mumbai','Chennai','Mumbai','Hyderabad / Secunderabad',
         'Kolhapur','Kolkata']

In [119]:
Location

['Chennai',
 'Ahmedabad',
 'Mumbai',
 'Jaipur',
 'Gurgaon',
 'Pune',
 'Noida',
 'Mumbai',
 'Chennai',
 'Mumbai',
 'Hyderabad / Secunderabad',
 'Kolhapur',
 'Kolkata']

In [120]:
cmp=[]
company=driver.find_elements_by_xpath("//small[@class='ellipsis']")
for j in company:
    cmp.append(j.text)    
print(cmp[0:1])


cmp1=[]
company=driver.find_elements_by_xpath("//small[@class='ellipsis']")
for j in company:
    cmp1.append(j.text)    
print(cmp1[2:3])

cmp2=[]
company=driver.find_elements_by_xpath("//small[@class='ellipsis']")
for j in company:
    cmp2.append(j.text)    
print(cmp2[4:5])

cmp3=[]
company=driver.find_elements_by_xpath("//small[@class='ellipsis']")
for j in company:
    cmp3.append(j.text)    
print(cmp3[6:7])

cmp4=[]
company=driver.find_elements_by_xpath("//small[@class='ellipsis']")
for j in company:
    cmp4.append(j.text)    
print(cmp4[8:9])

cmp5=[]
company=driver.find_elements_by_xpath("//small[@class='ellipsis']")
for j in company:
    cmp5.append(j.text)    
print(cmp5[10:11])

cmp6=[]
company=driver.find_elements_by_xpath("//small[@class='ellipsis']")
for j in company:
    cmp6.append(j.text)    
print(cmp6[12:13])

cmp7=[]
company=driver.find_elements_by_xpath("//small[@class='ellipsis']")
for j in company:
    cmp7.append(j.text)    
print(cmp7[14:15])

cmp8=[]
company=driver.find_elements_by_xpath("//small[@class='ellipsis']")
for j in company:
    cmp8.append(j.text)    
print(cmp8[16:17])

cmp9=[]
company=driver.find_elements_by_xpath("//small[@class='ellipsis']")
for j in company:
    cmp9.append(j.text)    
print(cmp9[18:19])

cmp10=[]
company=driver.find_elements_by_xpath("//small[@class='ellipsis']")
for j in company:
    cmp10.append(j.text)    
print(cmp10[20:21])

cmp11=[]
company=driver.find_elements_by_xpath("//small[@class='ellipsis']")
for j in company:
    cmp11.append(j.text)    
print(cmp11[22:23])

cmp12=[]
company=driver.find_elements_by_xpath("//small[@class='ellipsis']")
for j in company:
    cmp12.append(j.text)    
print(cmp12[24:25])

cmp13=[]
company=driver.find_elements_by_xpath("//small[@class='ellipsis']")
for j in company:
    cmp13.append(j.text)    
print(cmp13[26:27])

['Maveric Systems']
['Primacy Systems Pvt Ltd']
['TCRC']
['PADHAI HELP PRIVATE LIMITED']
['Ingenious E-Brain Solutions Private Limited']
['Xpansion HR Solutions Private Limited']
['Samsung']
['Rubicon Research']
['S & P Foundation Private Limited,']
['Kaizen IT Services Pvt. Ltd.']
['SLK Global Solutions Pvt Ltd']
['prameya education pvt ltd']
['Brennan IT']
['']

In [121]:
Company=['Maveric Systems','Primacy Systems Pvt Ltd','TCRC','PADHAI HELP PRIVATE LIMITED','Ingenious E-Brain Solutions Private Limited'
        'Xpansion HR Solutions Private Limited','Samsung','Rubicon Research','S & P Foundation Private Limited','Brennan IT',
        'himanshu enterprises','SLK Global Solutions Pvt Ltd','Kaizen IT Services Pvt. Ltd.']

In [122]:
Company

['Maveric Systems',
 'Primacy Systems Pvt Ltd',
 'TCRC',
 'PADHAI HELP PRIVATE LIMITED',
 'Ingenious E-Brain Solutions Private LimitedXpansion HR Solutions Private Limited',
 'Samsung',
 'Rubicon Research',
 'S & P Foundation Private Limited',
 'Brennan IT',
 'himanshu enterprises',
 'SLK Global Solutions Pvt Ltd',
 'Kaizen IT Services Pvt. Ltd.']

In [125]:
# Make dataframe
a  = {'Name':Name,   'Designation':Designation,  'Company':Company,  'Location':Location,  'Skills they hire for':Skills}
jobs_data=pd.DataFrame.from_dict(a, orient='index')
jobs_data=jobs_data.transpose()

In [126]:
jobs_data[:13]

,Name,Designation,Company,Location,Skills they hire for
0,Santhosh Kumar,Associate Manager Human Resources,Maveric Systems,Chennai,Skills/Roles I hire for :
1,Sanghvi,Company Recruiter,Primacy Systems Pvt Ltd,Ahmedabad,Skills/Roles I hire for :
2,Gauri Bhosle,Human Resources,TCRC,Mumbai,Skills/Roles I hire for :
3,Rohit Khandelwal,Company Recruiter,PADHAI HELP PRIVATE LIMITED,Jaipur,Skills/Roles I hire for :
4,Neha Pandey,Company Recruiter,Ingenious E-Brain Solutions Private LimitedXpa...,Gurgaon,Skills/Roles I hire for :
5,Vinita Raut,Company Recruiter,Samsung,Pune,Skills/Roles I hire for :
6,Sanjay Desai,Human Resource Manager,Rubicon Research,Noida,Skills/Roles I hire for :
7,Susheel Sonar,Human Resources,S & P Foundation Private Limited,Mumbai,Skills/Roles I hire for :
8,SREENIVASA PERUMAL K N,Senior Manager HR Admin,Brennan IT,Chennai,None
9,Niraj Thakur,Company HR,himanshu enterprises,Mumbai,None
10,Nitin R Patil,Company HR,SLK Global Solutions Pvt Ltd,Hyderabad / Secunderabad,None
11,dipak jha,Company HR,Kaizen IT Services Pvt. Ltd.,Kolhapur,None
12,Dilip Joshi,Talent Acquisition Specialist,None,Kolkata,None

# Question 8

In [165]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe")

In [166]:
# Opening the homepage of imdb.com
url= 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)

In [207]:
# Extracting book-name from xpath
title = driver.find_elements_by_xpath('//td[@id="table-cell-10943-0-1"]')

In [228]:
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
T1=[]
for j in title:
    T1.append(j.text)
print(T1)

# Extracting book-name from xpath
title1 = driver.find_elements_by_xpath('//td[@id="table-cell-10943-1-1"]')
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Title1=[]
for j in title1:
    Title1.append(j.text)
print(Title1)   


# Extracting book-name from xpath
title2 = driver.find_elements_by_xpath('//td[@id="table-cell-10943-2-1"]')
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Title2=[]
for j in title2:
    Title2.append(j.text)
print(Title2) 


# Extracting book-name from xpath
title3 = driver.find_elements_by_xpath('//td[@id="table-cell-10943-3-1"]')
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Title3=[]
for j in title3:
    Title3.append(j.text)
print(Title3) 


# Extracting book-name from xpath
title4 = driver.find_elements_by_xpath('//td[@id="table-cell-10943-4-1"]')
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Title4=[]
for j in title4:
    Title4.append(j.text)
print(Title4) 


# Extracting book-name from xpath
title5 = driver.find_elements_by_xpath('//td[@id="table-cell-10943-5-1"]')
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Title5=[]
for j in title5:
    Title5.append(j.text)
print(Title5)


# Extracting book-name from xpath
title6 = driver.find_elements_by_xpath('//td[@id="table-cell-10943-6-1"]')
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Title6=[]
for j in title6:
    Title6.append(j.text)
print(Title6) 


# Extracting book-name from xpath
title7 = driver.find_elements_by_xpath('//td[@id="table-cell-10943-7-1"]')
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Title7=[]
for j in title7:
    Title7.append(j.text)
print(Title7) 


# Extracting book-name from xpath
title8 = driver.find_elements_by_xpath('//td[@id="table-cell-10943-8-1"]')
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Title8=[]
for j in title8:
    Title8.append(j.text)
print(Title8) 


# Extracting book-name from xpath
title9 = driver.find_elements_by_xpath('//td[@id="table-cell-10943-9-1"]')
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Title9=[]
for j in title9:
    Title9.append(j.text)
print(Title9) 


# Extracting book-name from xpath
title10 = driver.find_elements_by_xpath('//td[@id="table-cell-10943-10-1"]')
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Title10=[]
for j in title10:
    Title10.append(j.text)
print(Title10) 


# Extracting book-name from xpath
title11 = driver.find_elements_by_xpath('//td[@id="table-cell-10943-11-1"]')
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Title11=[]
for j in title11:
    Title11.append(j.text)
print(Title11) 


# Extracting book-name from xpath
title12 = driver.find_elements_by_xpath('//td[@id="table-cell-10943-12-1"]')
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Title12=[]
for j in title12:
    Title12.append(j.text)
print(Title12) 


# Extracting book-name from xpath
title13 = driver.find_elements_by_xpath('//td[@id="table-cell-10943-13-1"]')
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Title13=[]
for j in title13:
    Title13.append(j.text)
print(Title13) 


# Extracting book-name from xpath
title14 = driver.find_elements_by_xpath('//td[@id="table-cell-10943-14-1"]')
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Title14=[]
for j in title14:
    Title14.append(j.text)
print(Title14) 


# Extracting book-name from xpath
title15 = driver.find_elements_by_xpath('//td[@id="table-cell-10943-15-1"]')
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Title15=[]
for j in title15:
    Title15.append(j.text)
print(Title15)

['Da Vinci Code,The']
['Harry Potter and the Deathly Hallows']
["Harry Potter and the Philosopher's Stone"]
['Harry Potter and the Order of the Phoenix']
['Fifty Shades of Grey']
['Harry Potter and the Goblet of Fire']
['Harry Potter and the Chamber of Secrets']
['Harry Potter and the Prisoner of Azkaban']
['Angels and Demons']
["Harry Potter and the Half-blood Prince:Children's Edition"]
['Fifty Shades Darker']
['Twilight']
['Girl with the Dragon Tattoo,The:Millennium Trilogy']
['Fifty Shades Freed']
['Lost Symbol,The']
['New Moon']

In [219]:
# Extracting author-name from xpath
author_name= driver.find_elements_by_xpath('//td[@id="table-cell-10943-0-2"]')

In [229]:
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Author_name=[]
for j in author_name:
    Author_name.append(j.text)
print(Author_name)

# Extracting author-name from xpath
author_name1= driver.find_elements_by_xpath('//td[@id="table-cell-10943-1-2"]')  
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Author_Name1=[]
for j in author_name1:
    Author_Name1.append(j.text)
print(Author_Name1)

# Extracting author-name from xpath
author_name2= driver.find_elements_by_xpath('//td[@id="table-cell-10943-2-2"]')  
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Author_Name2=[]
for j in author_name2:
    Author_Name2.append(j.text)
print(Author_Name2)

# Extracting author-name from xpath
author_name3= driver.find_elements_by_xpath('//td[@id="table-cell-10943-3-2"]')  
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Author_Name3=[]
for j in author_name3:
    Author_Name3.append(j.text)
print(Author_Name3)

# Extracting author-name from xpath
author_name4= driver.find_elements_by_xpath('//td[@id="table-cell-10943-4-2"]')  
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Author_Name4=[]
for j in author_name4:
    Author_Name4.append(j.text)
print(Author_Name4)

# Extracting author-name from xpath
author_name5= driver.find_elements_by_xpath('//td[@id="table-cell-10943-5-2"]')  
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Author_Name5=[]
for j in author_name5:
    Author_Name5.append(j.text)
print(Author_Name5)

# Extracting author-name from xpath
author_name6= driver.find_elements_by_xpath('//td[@id="table-cell-10943-6-2"]')  
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Author_Name6=[]
for j in author_name6:
    Author_Name6.append(j.text)
print(Author_Name6)

# Extracting author-name from xpath
author_name7= driver.find_elements_by_xpath('//td[@id="table-cell-10943-7-2"]')  
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Author_Name7=[]
for j in author_name7:
    Author_Name7.append(j.text)
print(Author_Name7)

# Extracting author-name from xpath
author_name8= driver.find_elements_by_xpath('//td[@id="table-cell-10943-8-2"]')  
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Author_Name8=[]
for j in author_name8:
    Author_Name8.append(j.text)
print(Author_Name8)

# Extracting author-name from xpath
author_name9= driver.find_elements_by_xpath('//td[@id="table-cell-10943-9-2"]')  
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Author_Name9=[]
for j in author_name9:
    Author_Name9.append(j.text)
print(Author_Name9)

# Extracting author-name from xpath
author_name10= driver.find_elements_by_xpath('//td[@id="table-cell-10943-10-2"]')  
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Author_Name10=[]
for j in author_name10:
    Author_Name10.append(j.text)
print(Author_Name10)

# Extracting author-name from xpath
author_name11= driver.find_elements_by_xpath('//td[@id="table-cell-10943-11-2"]')  
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Author_Name11=[]
for j in author_name11:
    Author_Name11.append(j.text)
print(Author_Name11)

# Extracting author-name from xpath
author_name12= driver.find_elements_by_xpath('//td[@id="table-cell-10943-12-2"]')  
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Author_Name12=[]
for j in author_name12:
    Author_Name12.append(j.text)
print(Author_Name12)

# Extracting author-name from xpath
author_name13= driver.find_elements_by_xpath('//td[@id="table-cell-10943-13-2"]')  
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Author_Name13=[]
for j in author_name13:
    Author_Name13.append(j.text)
print(Author_Name13)

# Extracting author-name from xpath
author_name14= driver.find_elements_by_xpath('//td[@id="table-cell-10943-14-2"]')  
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Author_Name14=[]
for j in author_name14:
    Author_Name14.append(j.text)
print(Author_Name14)

# Extracting author-name from xpath
author_name15= driver.find_elements_by_xpath('//td[@id="table-cell-10943-15-2"]')  
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Author_Name15=[]
for j in author_name15:
    Author_Name15.append(j.text)
print(Author_Name15)

['Brown, Dan']
['Rowling, J.K.']
['Rowling, J.K.']
['Rowling, J.K.']
['James, E. L.']
['Rowling, J.K.']
['Rowling, J.K.']
['Rowling, J.K.']
['Brown, Dan']
['Rowling, J.K.']
['James, E. L.']
['Meyer, Stephenie']
['Larsson, Stieg']
['James, E. L.']
['Brown, Dan']
['Meyer, Stephenie']

In [173]:
# Extracting author-name from xpath
volume_sales= driver.find_elements_by_xpath('//td[@id="table-cell-10943-0-3"]')

In [264]:
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Volume_sales=[]
for j in volume_sales:
    Volume_sales.append(j.text)
print(Volume_sales)

# Extracting author-name from xpath
volume_sales1= driver.find_elements_by_xpath('//td[@id="table-cell-10943-1-3"]')  
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Volume_Sales1=[]
for j in volume_sales1:
    Volume_Sales1.append(j.text)
print(Volume_Sales1)

# Extracting author-name from xpath
volume_sales2= driver.find_elements_by_xpath('//td[@id="table-cell-10943-2-3"]')  
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Volume_Sales2=[]
for j in volume_sales2:
    Volume_Sales2.append(j.text)
print(Volume_Sales2)

# Extracting author-name from xpath
volume_sales3= driver.find_elements_by_xpath('//td[@id="table-cell-10943-3-3"]')  
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Volume_Sales3=[]
for j in volume_sales3:
    Volume_Sales3.append(j.text)
print(Volume_Sales3)

# Extracting author-name from xpath
volume_sales4= driver.find_elements_by_xpath('//td[@id="table-cell-10943-4-3"]')  
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Volume_Sales4=[]
for j in volume_sales4:
    Volume_Sales4.append(j.text)
print(Volume_Sales4)

# Extracting author-name from xpath
volume_sales5= driver.find_elements_by_xpath('//td[@id="table-cell-10943-5-3"]')  
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Volume_Sales5=[]
for j in volume_sales5:
    Volume_Sales5.append(j.text)
print(Volume_Sales5)

# Extracting author-name from xpath
volume_sales6= driver.find_elements_by_xpath('//td[@id="table-cell-10943-6-3"]')  
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Volume_Sales6=[]
for j in volume_sales6:
    Volume_Sales6.append(j.text)
print(Volume_Sales6)

# Extracting author-name from xpath
volume_sales7= driver.find_elements_by_xpath('//td[@id="table-cell-10943-7-3"]')  
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Volume_Sales7=[]
for j in volume_sales7:
    Volume_Sales7.append(j.text)
print(Volume_Sales7)

# Extracting author-name from xpath
volume_sales8= driver.find_elements_by_xpath('//td[@id="table-cell-10943-8-3"]')  
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Volume_Sales8=[]
for j in volume_sales8:
    Volume_Sales8.append(j.text)
print(Volume_Sales8)

# Extracting author-name from xpath
volume_sales9= driver.find_elements_by_xpath('//td[@id="table-cell-10943-9-3"]')  
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Volume_Sales9=[]
for j in volume_sales9:
    Volume_Sales9.append(j.text)
print(Volume_Sales9)

# Extracting author-name from xpath
volume_sales10= driver.find_elements_by_xpath('//td[@id="table-cell-10943-10-3"]')  
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Volume_Sales10=[]
for j in volume_sales10:
    Volume_Sales10.append(j.text)
print(Volume_Sales10)

# Extracting author-name from xpath
volume_sales11= driver.find_elements_by_xpath('//td[@id="table-cell-10943-11-3"]')  
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Volume_Sales11=[]
for j in volume_sales11:
    Volume_Sales11.append(j.text)
print(Volume_Sales11)

# Extracting author-name from xpath
volume_sales12= driver.find_elements_by_xpath('//td[@id="table-cell-10943-12-3"]')  
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Volume_Sales12=[]
for j in volume_sales12:
    Volume_Sales12.append(j.text)
print(Volume_Sales12)

# Extracting author-name from xpath
volume_sales13= driver.find_elements_by_xpath('//td[@id="table-cell-10943-13-3"]')  
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Volume_Sales13=[]
for j in volume_sales13:
    Volume_Sales13.append(j.text)
print(Volume_Sales13)

# Extracting author-name from xpath
volume_sales14= driver.find_elements_by_xpath('//td[@id="table-cell-10943-14-3"]')  
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Volume_Sales14=[]
for j in volume_sales14:
    Volume_Sales14.append(j.text)
print(Volume_Sales14)

# Extracting author-name from xpath
volume_sales15= driver.find_elements_by_xpath('//td[@id="table-cell-10943-15-3"]')  
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Volume_Sales15=[]
for j in volume_sales15:
    Volume_Sales15.append(j.text)
print(Volume_Sales15)

# Extracting author-name from xpath
volume_sales16= driver.find_elements_by_xpath('//td[@id="table-cell-10943-16-3"]')  
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Volume_Sales16=[]
for j in volume_sales16:
    Volume_Sales16.append(j.text)
print(Volume_Sales16)

['5,094,805']
['4,475,152']
['4,200,654']
['4,179,479']
['3,758,936']
['3,583,215']
['3,484,047']
['3,377,906']
['3,193,946']
['2,950,264']
['2,479,784']
['2,315,405']
['2,233,570']
['2,193,928']
['2,183,031']
['2,152,737']
['2,062,145']

In [175]:
# Extracting author-name from xpath
publisher= driver.find_elements_by_xpath('//td[@id="table-cell-10943-0-4"]')

In [247]:
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Publish=[]
for j in publisher:
    Publish.append(j.text)
Publish

# Extracting author-name from xpath
publisher1= driver.find_elements_by_xpath('//td[@id="table-cell-10943-1-4"]') 
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Publisher1=[]
for j in publisher1:
    Publisher1.append(j.text)
print(Publisher1)

# Extracting author-name from xpath
publisher2= driver.find_elements_by_xpath('//td[@id="table-cell-10943-2-4"]') 
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Publisher2=[]
for j in publisher2:
    Publisher2.append(j.text)
print(Publisher2)

# Extracting author-name from xpath
publisher3= driver.find_elements_by_xpath('//td[@id="table-cell-10943-3-4"]') 
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Publisher3=[]
for j in publisher3:
    Publisher3.append(j.text)
print(Publisher3)

# Extracting author-name from xpath
publisher4= driver.find_elements_by_xpath('//td[@id="table-cell-10943-4-4"]') 
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Publisher4=[]
for j in publisher4:
    Publisher4.append(j.text)
print(Publisher4)

# Extracting author-name from xpath
publisher5= driver.find_elements_by_xpath('//td[@id="table-cell-10943-5-4"]') 
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Publisher5=[]
for j in publisher5:
    Publisher5.append(j.text)
print(Publisher5)

# Extracting author-name from xpath
publisher6= driver.find_elements_by_xpath('//td[@id="table-cell-10943-6-4"]') 
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Publisher6=[]
for j in publisher6:
    Publisher6.append(j.text)
print(Publisher6)

# Extracting author-name from xpath
publisher7= driver.find_elements_by_xpath('//td[@id="table-cell-10943-7-4"]') 
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Publisher7=[]
for j in publisher7:
    Publisher7.append(j.text)
print(Publisher7)

# Extracting author-name from xpath
publisher8= driver.find_elements_by_xpath('//td[@id="table-cell-10943-8-4"]') 
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Publisher8=[]
for j in publisher8:
    Publisher8.append(j.text)
print(Publisher8)

# Extracting author-name from xpath
publisher9= driver.find_elements_by_xpath('//td[@id="table-cell-10943-9-4"]') 
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Publisher9=[]
for j in publisher9:
    Publisher9.append(j.text)
print(Publisher9)

# Extracting author-name from xpath
publisher10= driver.find_elements_by_xpath('//td[@id="table-cell-10943-10-4"]') 
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Publisher10=[]
for j in publisher10:
    Publisher10.append(j.text)
print(Publisher10)

# Extracting author-name from xpath
publisher11= driver.find_elements_by_xpath('//td[@id="table-cell-10943-11-4"]') 
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Publisher11=[]
for j in publisher11:
    Publisher11.append(j.text)
print(Publisher11)

# Extracting author-name from xpath
publisher12= driver.find_elements_by_xpath('//td[@id="table-cell-10943-12-4"]') 
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Publisher12=[]
for j in publisher12:
    Publisher12.append(j.text)
print(Publisher12)

# Extracting author-name from xpath
publisher13= driver.find_elements_by_xpath('//td[@id="table-cell-10943-13-4"]') 
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Publisher13=[]
for j in publisher13:
    Publisher13.append(j.text)
print(Publisher13)

# Extracting author-name from xpath
publisher14= driver.find_elements_by_xpath('//td[@id="table-cell-10943-14-4"]') 
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Publisher14=[]
for j in publisher14:
    Publisher14.append(j.text)
print(Publisher14)

# Extracting author-name from xpath
publisher15= driver.find_elements_by_xpath('//td[@id="table-cell-10943-15-4"]') 
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Publisher15=[]
for j in publisher15:
    Publisher15.append(j.text)
print(Publisher15)

# Extracting author-name from xpath
publisher16= driver.find_elements_by_xpath('//td[@id="table-cell-10943-16-4"]') 
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Publisher16=[]
for j in publisher16:
    Publisher16.append(j.text)
print(Publisher16)

['Bloomsbury']
['Bloomsbury']
['Bloomsbury']
['Random House']
['Bloomsbury']
['Bloomsbury']
['Bloomsbury']
['Transworld']
['Bloomsbury']
['Random House']
['Little, Brown Book']
['Quercus']
['Random House']
['Transworld']
['Little, Brown Book']
['Transworld']

In [177]:
# Extracting author-name from xpath
genre= driver.find_elements_by_xpath('//td[@id="table-cell-10943-0-5"]')

In [232]:
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Gen=[]
for j in genre:
    Gen.append(j.text)
print(Gen)

# Extracting author-name from xpath
genre1= driver.find_elements_by_xpath('//td[@id="table-cell-10943-1-5"]') 
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Genre1=[]
for j in genre1:
    Genre1.append(j.text)
print(Genre1)

# Extracting author-name from xpath
genre2= driver.find_elements_by_xpath('//td[@id="table-cell-10943-2-5"]') 
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Genre2=[]
for j in genre2:
    Genre2.append(j.text)
print(Genre2)

# Extracting author-name from xpath
genre3= driver.find_elements_by_xpath('//td[@id="table-cell-10943-3-5"]') 
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Genre3=[]
for j in genre3:
    Genre3.append(j.text)
print(Genre3)

# Extracting author-name from xpath
genre4= driver.find_elements_by_xpath('//td[@id="table-cell-10943-4-5"]') 
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Genre4=[]
for j in genre4:
    Genre4.append(j.text)
print(Genre4)

# Extracting author-name from xpath
genre5= driver.find_elements_by_xpath('//td[@id="table-cell-10943-5-5"]') 
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Genre5=[]
for j in genre5:
    Genre5.append(j.text)
print(Genre5)

# Extracting author-name from xpath
genre6= driver.find_elements_by_xpath('//td[@id="table-cell-10943-6-5"]') 
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Genre6=[]
for j in genre6:
    Genre6.append(j.text)
print(Genre6)

# Extracting author-name from xpath
genre7= driver.find_elements_by_xpath('//td[@id="table-cell-10943-7-5"]') 
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Genre7=[]
for j in genre7:
    Genre7.append(j.text)
print(Genre7)

# Extracting author-name from xpath
genre8= driver.find_elements_by_xpath('//td[@id="table-cell-10943-8-5"]') 
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Genre8=[]
for j in genre8:
    Genre8.append(j.text)
print(Genre8)

# Extracting author-name from xpath
genre9= driver.find_elements_by_xpath('//td[@id="table-cell-10943-9-5"]') 
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Genre9=[]
for j in genre9:
    Genre9.append(j.text)
print(Genre9)

# Extracting author-name from xpath
genre10= driver.find_elements_by_xpath('//td[@id="table-cell-10943-10-5"]') 
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Genre10=[]
for j in genre10:
    Genre10.append(j.text)
print(Genre10)

# Extracting author-name from xpath
genre11= driver.find_elements_by_xpath('//td[@id="table-cell-10943-11-5"]') 
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Genre11=[]
for j in genre11:
    Genre11.append(j.text)
print(Genre11)

# Extracting author-name from xpath
genre12= driver.find_elements_by_xpath('//td[@id="table-cell-10943-12-5"]') 
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Genre12=[]
for j in genre12:
    Genre12.append(j.text)
print(Genre12)

# Extracting author-name from xpath
genre13= driver.find_elements_by_xpath('//td[@id="table-cell-10943-13-5"]') 
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Genre13=[]
for j in genre13:
    Genre13.append(j.text)
print(Genre13)

# Extracting author-name from xpath
genre14= driver.find_elements_by_xpath('//td[@id="table-cell-10943-14-5"]') 
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Genre14=[]
for j in genre14:
    Genre14.append(j.text)
print(Genre14)

# Extracting author-name from xpath
genre15= driver.find_elements_by_xpath('//td[@id="table-cell-10943-15-5"]') 
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Genre15=[]
for j in genre15:
    Genre15.append(j.text)
print(Genre15)

['Crime, Thriller & Adventure']
["Children's Fiction"]
["Children's Fiction"]
["Children's Fiction"]
['Romance & Sagas']
["Children's Fiction"]
["Children's Fiction"]
["Children's Fiction"]
['Crime, Thriller & Adventure']
["Children's Fiction"]
['Romance & Sagas']
['Young Adult Fiction']
['Crime, Thriller & Adventure']
['Romance & Sagas']
['Crime, Thriller & Adventure']
['Young Adult Fiction']

In [251]:
Title=['Da Vinci Code,The',
'Harry Potter and the Deathly Hallows',
"Harry Potter and the Philosopher's Stone",
'Harry Potter and the Order of the Phoenix',
'Fifty Shades of Grey',
'Harry Potter and the Goblet of Fire',
'Harry Potter and the Chamber of Secrets',
'Harry Potter and the Prisoner of Azkaban',
'Angels and Demons',
"Harry Potter and the Half-blood Prince:Children's Edition",
'Fifty Shades Darker',
'Twilight',
'Girl with the Dragon Tattoo,The:Millennium Trilogy',
'Fifty Shades Freed',
'Lost Symbol,The',
'New Moon']

In [252]:
Title

['Da Vinci Code,The',
 'Harry Potter and the Deathly Hallows',
 "Harry Potter and the Philosopher's Stone",
 'Harry Potter and the Order of the Phoenix',
 'Fifty Shades of Grey',
 'Harry Potter and the Goblet of Fire',
 'Harry Potter and the Chamber of Secrets',
 'Harry Potter and the Prisoner of Azkaban',
 'Angels and Demons',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Fifty Shades Darker',
 'Twilight',
 'Girl with the Dragon Tattoo,The:Millennium Trilogy',
 'Fifty Shades Freed',
 'Lost Symbol,The',
 'New Moon']

In [253]:
Author_Name=['Brown, Dan',
'Rowling, J.K.',
'Rowling, J.K.',
'Rowling, J.K.',
'James, E. L.',
'Rowling, J.K.',
'Rowling, J.K.',
'Rowling, J.K.',
'Brown, Dan',
'Rowling, J.K.',
'James, E. L.',
'Meyer, Stephenie',
'Larsson, Stieg',
'James, E. L.',
'Brown, Dan',
'Meyer, Stephenie']

In [254]:
Author_Name

['Brown, Dan',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'James, E. L.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Brown, Dan',
 'Rowling, J.K.',
 'James, E. L.',
 'Meyer, Stephenie',
 'Larsson, Stieg',
 'James, E. L.',
 'Brown, Dan',
 'Meyer, Stephenie']

In [265]:
Volume_Sales=['5,094,805',
'4,475,152',
'4,200,654',
'4,179,479',
'3,758,936',
'3,583,215',
'3,484,047',
'3,377,906',
'3,193,946',
'2,950,264',
'2,479,784',
'2,315,405',
'2,233,570',
'2,193,928',
'2,183,031'
'2,152,737',
 '2,062,145'            ]

In [266]:
Volume_Sales

['5,094,805',
 '4,475,152',
 '4,200,654',
 '4,179,479',
 '3,758,936',
 '3,583,215',
 '3,484,047',
 '3,377,906',
 '3,193,946',
 '2,950,264',
 '2,479,784',
 '2,315,405',
 '2,233,570',
 '2,193,928',
 '2,183,0312,152,737',
 '2,062,145']

In [257]:
Publisher=['Bloomsbury',
'Bloomsbury',
'Bloomsbury',
'Random House',
'Bloomsbury',
'Bloomsbury',
'Bloomsbury',
'Transworld',
'Bloomsbury',
'Random House',
'Little, Brown Book',
'Quercus',
'Random House',
'Transworld',
'Little, Brown Book',
 'Transworld']

In [258]:
Publisher

['Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Random House',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Transworld',
 'Bloomsbury',
 'Random House',
 'Little, Brown Book',
 'Quercus',
 'Random House',
 'Transworld',
 'Little, Brown Book',
 'Transworld']

In [259]:
Genre=['Crime, Thriller & Adventure',
"Children's Fiction",
"Children's Fiction",
"Children's Fiction",
'Romance & Sagas',
"Children's Fiction",
"Children's Fiction",
"Children's Fiction",
'Crime, Thriller & Adventure',
"Children's Fiction",
'Romance & Sagas',
'Young Adult Fiction',
'Crime, Thriller & Adventure',
'Romance & Sagas',
'Crime, Thriller & Adventure',
'Young Adult Fiction']

In [260]:
Genre

['Crime, Thriller & Adventure',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Romance & Sagas',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 "Children's Fiction",
 'Romance & Sagas',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Romance & Sagas',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction']

In [267]:
# make a DataFrame
a={'Book Name':Title,   'Genre':Genre,   'Author Name':Author_Name,   'Volume_Sales':Volume_Sales,   'Publisher':Publisher}
Selling_novels=pd.DataFrame.from_dict(a, orient='index')
Selling_novels=Selling_novels.transpose()

In [268]:
Selling_novels

,Book Name,Genre,Author Name,Volume_Sales,Publisher
0,"Da Vinci Code,The","Crime, Thriller & Adventure","Brown, Dan","5,094,805",Bloomsbury
1,Harry Potter and the Deathly Hallows,Children's Fiction,"Rowling, J.K.","4,475,152",Bloomsbury
2,Harry Potter and the Philosopher's Stone,Children's Fiction,"Rowling, J.K.","4,200,654",Bloomsbury
3,Harry Potter and the Order of the Phoenix,Children's Fiction,"Rowling, J.K.","4,179,479",Random House
4,Fifty Shades of Grey,Romance & Sagas,"James, E. L.","3,758,936",Bloomsbury
5,Harry Potter and the Goblet of Fire,Children's Fiction,"Rowling, J.K.","3,583,215",Bloomsbury
6,Harry Potter and the Chamber of Secrets,Children's Fiction,"Rowling, J.K.","3,484,047",Bloomsbury
7,Harry Potter and the Prisoner of Azkaban,Children's Fiction,"Rowling, J.K.","3,377,906",Transworld
8,Angels and Demons,"Crime, Thriller & Adventure","Brown, Dan","3,193,946",Bloomsbury
9,Harry Potter and the Half-blood Prince:Childre...,Children's Fiction,"Rowling, J.K.","2,950,264",Random House
10,Fifty Shades Darker,Romance & Sagas,"James, E. L.","2,479,784","Little, Brown Book"
11,Twilight,Young Adult Fiction,"Meyer, Stephenie","2,315,405",Quercus
12,"Girl with the Dragon Tattoo,The:Millennium Tri...","Crime, Thriller & Adventure","Larsson, Stieg","2,233,570",Random House
13,Fifty Shades Freed,Romance & Sagas,"James, E. L.","2,193,928",Transworld
14,"Lost Symbol,The","Crime, Thriller & Adventure","Brown, Dan","2,183,0312,152,737","Little, Brown Book"
15,New Moon,Young Adult Fiction,"Meyer, Stephenie","2,062,145",Transworld

# Question 9

In [108]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe")

# Opening the homepage of imdb.com
url= 'https://www.imdb.com/list/ls095964455/'
driver.get(url)

# Extracting name from xpath
name=driver.find_elements_by_xpath('//h3[@class="lister-item-header"]') 
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Name=[]
for i in name:
    Name.append(i.text)


# Extracting year from xpath
year=driver.find_elements_by_xpath('//span[@class="lister-item-year text-muted unbold"]') 
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Year=[]
for i in year:
    Year.append(i.text)

# Extracting genre from xpath
genre=driver.find_elements_by_xpath('//span[@class="genre"]') 
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Genre=[]
for i in genre:
    Genre.append(i.text)
    
# Extracting runtime from xpath
runtime=driver.find_elements_by_xpath('//span[@class="runtime"]') 
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them
Runtime=[]
for i in runtime:
    Runtime.append(i.text)


# Extracting ratings from xpath
ratings=driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]') 
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them
Ratings=[]
for i in ratings:
    Ratings.append(i.text)


# Extracting votes from xpath
votes=driver.find_elements_by_xpath('//span[@name="nv"]') 
# make empty list
# I will run a loop to iterate over the tags extracted above and extract the text inside them
Votes=[]
for i in votes:
    Votes.append(i.text)

In [109]:
# Make dataframe
TV_serials = pd.DataFrame({'Name':Name,'Year span':Year,'Genre':Genre,
                               'Runtime':Runtime,'Ratings':Ratings, 'Votes':Votes})

In [110]:
TV_serials

,Name,Year span,Genre,Runtime,Ratings,Votes
0,1. Game of Thrones (2011–2019),(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,835,132"
1,2. Stranger Things (2016– ),(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"873,915"
2,3. The Walking Dead (2010–2022),(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"879,210"
3,4. 13 Reasons Why (2017–2020),(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"264,179"
4,5. The 100 (2014–2020),(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"225,687"
...,...,...,...,...,...,...
95,96. Reign (2013–2017),(2013–2017),"Drama, Fantasy",42 min,7.5,"44,785"
96,97. A Series of Unfortunate Events (2017–2019),(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,390"
97,98. Criminal Minds (2005–2020),(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"169,554"
98,99. Scream: The TV Series (2015–2019),(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"35,118"
99,100. The Haunting of Hill House (2018),(2018),"Drama, Horror, Mystery",572 min,8.6,"193,325"

# Question 10

In [172]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe")

In [173]:
# Opening the homepage of uci.edu
url= 'https://archive.ics.uci.edu/ml/datasets.php'
driver.get(url)

In [174]:
# Extracting name from xpath
dataset_name=driver.find_elements_by_xpath('//p[@class="normal"]')

In [175]:
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Dataset_Name=[]
for k in dataset_name:
    Dataset_Name.append(k.text)    
Dataset_Name

[]

In [176]:
# Extracting data type from xpath
data_type=driver.find_elements_by_xpath('//p[@class="normal"]')

In [177]:
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Data_Type=[]
for i in data_type:
    Data_Type.append(i.text)    
Data_Type

[]

In [178]:
# Extracting Task from xpath
task=driver.find_elements_by_xpath('//p[@class="normal"]')

In [179]:
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Task=[]
for i in task:
    Task.append(i.text)    
Task

[]

In [180]:
# Extracting attribute_type from xpath
attribute_type=driver.find_elements_by_xpath('//p[@class="normal"]')

In [181]:
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Attribute_type=[]
for i in attribute_type:
    Attribute_type.append(i.text)    
Attribute_type

[]

In [182]:
# Extracting instance from xpath
instance=driver.find_elements_by_xpath('//p[@class="normal"]')

In [183]:
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Instance=[]
for i in instance:
    Instance.append(i.text)    
Instance

[]

In [184]:
# Extracting attribute from xpath
attribute=driver.find_elements_by_xpath('//p[@class="normal"]')

In [185]:
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Attribute=[]
for i in attribute:
    Attribute.append(i.text)    
Attribute

[]

In [186]:
# Extracting year from xpath
year=driver.find_elements_by_xpath('//p[@class="normal"]')

In [187]:
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Year=[]
for i in year:
    Year.append(i.text)    
Year

[]