In [1]:
# import all the required libraries
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from bs4 import BeautifulSoup
import requests
import time
from selenium.webdriver.common.keys import Keys

In [2]:
# Lets first connect to the wed driver
driver=webdriver.Chrome(r"C:\Users\karishma yadav\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
driver=webdriver.Chrome("chromedriver.exe")

In [4]:
url='https://www.naukri.com'
driver.get(url)

In [5]:
# finding element for job search bar
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [6]:
# write on search bar
search_job.send_keys("Data Analyst")

In [7]:
# finding element for job location bar
search_loc=driver.find_element_by_id("qsb-location-sugg")
search_loc.send_keys("Bangalore")

In [8]:
# do click using xpath function
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']")
search_btn.click()

In [11]:
# extract all the tags having the job_titles
job_titles=[]
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [12]:
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
for i in title[:10]:
    job_titles.append(i.text)    
job_titles

['Senior Data Analyst - Data Lineage',
 'Data Analyst - Informatica MDM',
 'Data analysts',
 'Excel VBA Jobs Bangalore | VBA data analyst Jobs',
 'Data Analyst (2positions)//immediate Joiners//bangalore',
 'Business/Data Analyst - SSE/LA',
 'Business Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst - Category Demand Management (Revenue & Growth)']

Now we will extract all the html tags where we have the company names.

In [21]:
# extract all the tags having job_location
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
job_location=[]
for i in location:
    job_location.append(i.text)
job_location[:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mysore/Mysuru, Coimbatore, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [30]:
LOCATION=job_location[:10]
print(len(LOCATION))

10

In [22]:
# extract all the tags having company names
name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [23]:
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
company_name=[]
for i in name[:10]:
    company_name.append(i.text)
company_name

['Opex Global Services',
 'Shell India Markets Private Limited',
 'IBM India Pvt. Limited',
 'Mind Circus Innovation',
 'Tech Mahindra Ltd.',
 'CGI Information Systems and Management Consultants',
 'dotSolved India Pvt., Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.']

Now we will extract all the html tags having the experience required data.

In [24]:
# extract all the tags having experience data
experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")

In [25]:
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
experience_required=[]
for i in experience[:10]:
    experience_required.append(i.text)
experience_required

['5-10 Yrs',
 '6-9 Yrs',
 '3-5 Yrs',
 '0-1 Yrs',
 '4-8 Yrs',
 '2-5 Yrs',
 '9-13 Yrs',
 '3-5 Yrs',
 '3-8 Yrs',
 '1-4 Yrs']

Now we will extract all the html tags where we have the location of the job data.

In [32]:
# checking the length
print(len(job_titles),len(company_name),len(experience_required),len(LOCATION))

10 10 10 10

In [33]:
# make a DataFrame
a={"Job_Title": job_titles,"Company_Name": company_name,"Experience_Required": experience_required,"Job_location":job_location}
jobs_data=pd.DataFrame.from_dict(a, orient='index')
jobs_data=jobs_data.transpose()

In [35]:
jobs_data[:10]

,Job_Title,Company_Name,Experience_Required,Job_location
0,Senior Data Analyst - Data Lineage,Opex Global Services,5-10 Yrs,Bangalore/Bengaluru
1,Data Analyst - Informatica MDM,Shell India Markets Private Limited,6-9 Yrs,Bangalore/Bengaluru
2,Data analysts,IBM India Pvt. Limited,3-5 Yrs,Bangalore/Bengaluru
3,Excel VBA Jobs Bangalore | VBA data analyst Jobs,Mind Circus Innovation,0-1 Yrs,"Mysore/Mysuru, Coimbatore, Bangalore/Bengaluru"
4,Data Analyst (2positions)//immediate Joiners//...,Tech Mahindra Ltd.,4-8 Yrs,Bangalore/Bengaluru
5,Business/Data Analyst - SSE/LA,CGI Information Systems and Management Consult...,2-5 Yrs,Bangalore/Bengaluru
6,Business Data Analyst,"dotSolved India Pvt., Ltd.",9-13 Yrs,"Chennai, Bangalore/Bengaluru, Mumbai (All Areas)"
7,Data Analyst,Myntra Designs Pvt. Ltd.,3-5 Yrs,Bangalore/Bengaluru
8,Data Analyst,Myntra Designs Pvt. Ltd.,3-8 Yrs,Bangalore/Bengaluru
9,Data Analyst - Category Demand Management (Rev...,Myntra Designs Pvt. Ltd.,1-4 Yrs,Bangalore/Bengaluru

# Q2 1.

In [104]:
driver=webdriver.Chrome("chromedriver.exe")

In [135]:
url='https://www.naukri.com/'
driver.get(url)

In [136]:
driver.implicitly_wait(10)

In [137]:
# finding element for job search bar
Search_field=driver.find_element_by_id('qsb-keyword-sugg')
Search_field

In [138]:
# write on search bar
Search_field.send_keys("Data Scientist")

In [139]:
Search_field_location=driver.find_element_by_id("qsb-location-sugg")
Search_field_location.send_keys("Bangalore")

In [140]:
# do click using xpath function
Search_btn=driver.find_element_by_xpath("//div[@class='search-btn']")
Search_btn.click()

In [141]:
# create an empty list
job_title=[]
job_location=[]
company_name=[]
job_description=[]

In [131]:
# extract all the tags having the job_titles
Title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [132]:
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
job_titles=[]
for i in Title[:10]:
    job_titles.append(i.text)
job_titles

['Data Scientist / Data Analyst -Business Analyst',
 'Senior Data Scientist',
 'Immediate job opening - Senior Data Scientist',
 'Senior Data Scientist',
 'VP - Sr. Data Scientist For Morgan Stanley, Bangalore',
 'Lead Data Scientist',
 'Lead Data Scientist',
 'Data analytics / Data scientist intern (work from Home)',
 'Data Scientist - IBM Garage',
 'Digital Enterprise Architect (Data Scientist)']

Now we will extract all the html tags where we have the company names.

In [143]:
location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")

In [152]:
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
for i in location:
    job_location.append(i.text)
job_location[:10]

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Kolkata, Bangalore/Bengaluru, Delhi / NCR',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru']

In [148]:
job_location[:10]

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Kolkata, Bangalore/Bengaluru, Delhi / NCR',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru']

In [325]:
# extract all the tags having company names
Name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [326]:
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Company_name=[]
for i in Name[:10]:
    Company_name.append(i.text)
Company_name

['Inflexion Analytix Private Limited',
 'RedBus',
 'Fractal Analytics',
 'Morgan Stanley Advantage Services',
 'FICO',
 'Fractal Analytics',
 'Global Talent Pool',
 'TalkValley LLC',
 'IBM India Pvt. Limited',
 'Mphasis Limited']

Now we will extract all the html tags having the experience required data.

In [327]:
# extract all the tags having experience data
Experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")

In [328]:
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Experience_required=[]
for i in Experience[:10]:
    Experience_required.append(i.text)
Experience_required

['0-3 Yrs',
 '5-8 Yrs',
 '5-9 Yrs',
 '8-13 Yrs',
 '6-11 Yrs',
 '10-15 Yrs',
 '0-2 Yrs',
 '0-5 Yrs',
 '2-6 Yrs',
 '10-13 Yrs']

Now we will extract all the html tags where we have the location of the job data.

In [150]:
from selenium.common.exceptions import  NoSuchElementException
urls=[]
for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    urls.append(i.get_attribute("href"))

for url in urls[0:10]:
    
    try:
        driver.get(url)
        description=driver.find_element_by_xpath("//section[@class='job-desc']").text
        job_description.append(description)
    except NoSuchElementException :
        job_description.append("Not Available")

In [154]:
# checking the length
print(len(job_titles),len(Company_name),len(job_location),len(job_description))

10 10 30 10

In [156]:
# Let's create a DataFrame for our data
a={"Job_Title": JOB_titles,"Company_Name": Company_name,"Experience_Required": Experience,"Job_location":job_location,"Salary": job_salary,"Job Description":job_description}
jobs_scientist_Bangolre=pd.DataFrame.from_dict(a, orient='index')
jobs_scientist_Bangolre=jobs_scientist_Bangolre.transpose()

In [158]:
jobs_scientist_Bangolre[:10]

,Job_Title,Company_Name,Experience_Required,Job_location,Salary,Job Description
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...","3,50,000 - 4,50,000 PA.",Job description\nJob Role : Data Scientist/Dat...
1,Data analytics / Data scientist intern (work f...,TalkValley LLC,0-5 Yrs,Bangalore/Bengaluru,"2,00,000 - 3,00,000 PA.",Not Available
2,Data Scientist,Fractal Analytics,3-7 Yrs,Bangalore/Bengaluru,Not disclosed,Not Available
3,Chaayos is Looking For Data Scientist,Chaayos (Sunshine Teahouse Pvt. Ltd.),0-5 Yrs,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",Not disclosed,Job description\nServe as primary technical le...
4,Junior Data Scientist,R Systems International Ltd.,3-5 Yrs,Bangalore/Bengaluru,Not disclosed,Job description\nAbout Us\nMorgan Stanley is a...
5,We are hiring- Data Scientist +Python- Noida,RANDSTAD INDIA PVT LTD,4-7 Yrs,Bangalore/Bengaluru,Not disclosed,Job description\nJob Summary\nThe candidate sh...
6,Data Scientist,Milliman India Pvt Ltd,2-5 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",Not disclosed,Job description\nPosition Description:\nThe Ar...
7,Data Scientist,NEC CORPORATION INDIA PRIVATE LIMITED,3-8 Yrs,"Kolkata, Bangalore/Bengaluru, Delhi / NCR",Not disclosed,Job description\nWe are a group of tenured pro...
8,"Data Analyst/Scientist Big Data, Statistical T...",The Search House (A Div of JSD Search House Pv...,2-7 Yrs,Bengaluru/Bangalore,"5,00,000 - 8,00,000 PA.",Not Available
9,Business Analyst- Data Scientist,Wipro,2-5 Yrs,Bangalore/Bengaluru,"3,50,000 - 6,50,000 PA.",Not Available

# Q2 2.

In [177]:
driver=webdriver.Chrome("chromedriver.exe")

In [178]:
url='https://www.naukri.com/'
driver.get(url)

In [179]:
# finding element for job search bar
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [180]:
# write on search bar
search_job.send_keys("Data Scientist, Machine Learning")

In [181]:
# do click using xpath function
Search_btn=driver.find_element_by_xpath("//div[@class='search-btn']")
Search_btn.click()

In [184]:
# extract all the tags having the job_titles
Title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [185]:
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
job_titles1=[]
for i in Title[:1]:
    job_titles1.append(i.text)
job_titles1

['Data Scientist - Machine Learning/APICS']

In [173]:
from selenium.common.exceptions import  NoSuchElementException
urls=[]
for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    urls.append(i.get_attribute("href"))

for url in urls[0:10]:
    
    try:
        driver.get(url)
        description=driver.find_element_by_xpath("//section[@class='job-desc']").text
        job_description.append(description)
    except NoSuchElementException :
        job_description.append("Not Available")

In [210]:
g=job_description[:10]
print(len(g))

10

In [186]:
# extract all the tags having the job_titles
Title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [187]:
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
job_titles2=[]
for i in Title[1:2]:
    job_titles2.append(i.text)
job_titles2

['Data Scientist - Machine Learning']

In [452]:
# extract all the tags having the job_titles
Title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [188]:
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
job_titles3=[]
for i in Title[2:3]:
    job_titles3.append(i.text)
job_titles3

['Data Scientist, Machine Learning']

In [454]:
# extract all the tags having the job_titles
Title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [189]:
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
job_titles4=[]
for i in Title[3:4]:
    job_titles4.append(i.text)
job_titles4

['Data Scientist - Algorithm/ Machine Learning']

In [456]:
# extract all the tags having the job_titles
Title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [190]:
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
job_titles5=[]
for i in Title[4:5]:
    job_titles5.append(i.text)
job_titles5

['Data Scientist - Image Processing/ Machine Learning']

In [458]:
# extract all the tags having the job_titles
Title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [191]:
# extract all the tags having the job_titles
job_titles6=[]
for i in Title[5:6]:
    job_titles6.append(i.text)
job_titles6

['Data Scientist - Image Processing/Machine Learning']

In [192]:
# extract all the tags having the job_titles
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_titles7=[]
for i in Title[6:7]:
    job_titles7.append(i.text)
job_titles7

['Data Scientist - Artificial Intelligence/ Machine Learning']

In [193]:
# extract all the tags having the job_titles
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_titles8=[]
for i in Title[7:8]:
    job_titles8.append(i.text)
job_titles8

['Data Scientist - Machine Learning']

In [194]:
# extract all the tags having the job_titles
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
Title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_titles9=[]
for i in Title[8:9]:
    job_titles9.append(i.text)
job_titles9

['Data Scientist - Machine/deep Learning Algorithms']

In [195]:
# extract all the tags having the job_titles
Title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_titles10=[]
for i in Title[9:10]:
    job_titles10.append(i.text)
job_titles10

['Data Scientist - Artificial Intelligence/Machine Learning']

In [197]:
df=['Data Scientist - Machine Learning/APICS','Data Scientist - Machine Learning','Data Scientist, Machine Learning','Data Scientist - Algorithm/ Machine Learning','Data Scientist - Image Processing/ Machine Learning','Data Scientist - Image Processing/Machine Learning','Data Scientist - Artificial Intelligence/ Machine Learning','Data Scientist - Machine Learning','Data Scientist - Machine/deep Learning Algorithms','Data Scientist - Artificial Intelligence/Machine Learning']
df

['Data Scientist - Machine Learning/APICS',
 'Data Scientist - Machine Learning',
 'Data Scientist, Machine Learning',
 'Data Scientist - Algorithm/ Machine Learning',
 'Data Scientist - Image Processing/ Machine Learning',
 'Data Scientist - Image Processing/Machine Learning',
 'Data Scientist - Artificial Intelligence/ Machine Learning',
 'Data Scientist - Machine Learning',
 'Data Scientist - Machine/deep Learning Algorithms',
 'Data Scientist - Artificial Intelligence/Machine Learning']

In [211]:
# checking the length
print(len(job_titles),len(g))

10 10

In [212]:
# Let's create a DataFrame for our data
job_scientist_data={"Job_Titles":df,"Job_description":g}
job_scientist_data=pd.DataFrame.from_dict(job_scientist_data, orient='index')
job_scientist_data[:10]

,0,1,2,3,4,5,6,7,8,9
Job_Titles,Data Scientist - Machine Learning/APICS,Data Scientist - Machine Learning,"Data Scientist, Machine Learning",Data Scientist - Algorithm/ Machine Learning,Data Scientist - Image Processing/ Machine Lea...,Data Scientist - Image Processing/Machine Lear...,Data Scientist - Artificial Intelligence/ Mach...,Data Scientist - Machine Learning,Data Scientist - Machine/deep Learning Algorithms,Data Scientist - Artificial Intelligence/Machi...
Job_description,Job description\nJob Role : Data Scientist/Dat...,Not Available,Not Available,Job description\nServe as primary technical le...,Job description\nAbout Us\nMorgan Stanley is a...,Job description\nJob Summary\nThe candidate sh...,Job description\nPosition Description:\nThe Ar...,Job description\nWe are a group of tenured pro...,Not Available,Not Available

# Q3

In [465]:
from selenium.common.exceptions import StaleElementReferenceException

In [213]:
driver=webdriver.Chrome("chromedriver.exe")

In [220]:
url='https://www.naukri.com'
driver.get(url)

In [221]:
# finding element for job search bar
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [222]:
# write on search bar
search_job.send_keys("Data Scientist")

In [223]:
# finding element for job location bar
search_loc=driver.find_element_by_id("qsb-location-sugg")
search_loc.send_keys("Delhi/NCR")

In [224]:
# # finding element for search button
search_btn = driver.find_element_by_xpath("//button[@class='btn']")

search_btn.click()

In [225]:
search_salary=driver.find_element_by_xpath('//span[@title=\"3-6 Lakhs\"]').click()

In [155]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://www.naukri.com/data-scientist-jobs-in-delhi-ncr?k=data%20scientist&l=delhi%2Fncr")
urls=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
try:
    for i in urls[0:3]:
        print(i.get_attribute('href'))
        driver.get(i.get_attribute('href'))
except StaleElementReferenceException as e:
    print("Exception Raised: ",e)

https://www.naukri.com/job-listings-data-scientist-data-analyst-business-analyst-inflexion-analytix-private-limited-mumbai-hyderabad-secunderabad-pune-gurgaon-gurugram-chennai-bangalore-bengaluru-0-to-3-years-100521000368?src=jobsearchDesk&sid=16237467739554180&xp=1&px=1
Exception Raised:  Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

In [226]:
# extract all the tags having the job_titles
Titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [227]:
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
JOB_titles=[]
for i in Titles[:10]:
    JOB_titles.append(i.text)
JOB_titles

['Data Scientist / Data Analyst -Business Analyst',
 'Data analytics / Data scientist intern (work from Home)',
 'Data Scientist',
 'Chaayos is Looking For Data Scientist',
 'Junior Data Scientist',
 'We are hiring- Data Scientist +Python- Noida',
 'Data Scientist',
 'Data Scientist',
 'Data Analyst/Scientist Big Data, Statistical Techniques',
 'Business Analyst- Data Scientist']

In [228]:
# extract all the tags having company names
Name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [229]:
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
# Let's create empty list for storing the data
Company_name=[]
for i in Name[:10]:
    Company_name.append(i.text)
Company_name

['Inflexion Analytix Private Limited',
 'TalkValley LLC',
 'Fractal Analytics',
 'Chaayos (Sunshine Teahouse Pvt. Ltd.)',
 'R Systems International Ltd.',
 'RANDSTAD INDIA PVT LTD',
 'Milliman India Pvt Ltd',
 'NEC CORPORATION INDIA PRIVATE LIMITED',
 'The Search House (A Div of JSD Search House Pvt. L td.)',
 'Wipro']

In [232]:
location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")

In [233]:
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
for i in location:
    job_location.append(i.text)
job_location[:10]

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Kolkata, Bangalore/Bengaluru, Delhi / NCR',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'New Delhi',
 'Noida(Sector-59 Noida)',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram, Delhi / NCR',
 'Noida',
 'Gurgaon/Gurugram',
 'Noida, Gurgaon/Gurugram']

In [239]:
LOCATION=job_description[:10]
print(len(LOCATION))

10

In [234]:
# extract all the tags having experience data
Experience=[]
experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")

In [235]:
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
for i in experience[:10]:
    Experience.append(i.text)
Experience

['0-3 Yrs',
 '0-5 Yrs',
 '3-7 Yrs',
 '0-5 Yrs',
 '3-5 Yrs',
 '4-7 Yrs',
 '2-5 Yrs',
 '3-8 Yrs',
 '2-7 Yrs',
 '2-5 Yrs']

In [236]:
# extract all the tags having the job_titles
salary=driver.find_elements_by_xpath('//li[@class=\"fleft grey-text br2 placeHolderLi salary\"]')

In [237]:
# I will run a loop to iterate over the tags extracted above and extract the text inside them.
job_salary=[]
for i in salary[:10]:
    job_salary.append(i.text)
job_salary

['3,50,000 - 4,50,000 PA.',
 '2,00,000 - 3,00,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '5,00,000 - 8,00,000 PA.',
 '3,50,000 - 6,50,000 PA.']

In [240]:
# checking the length
print(len(JOB_titles),len(Company_name))
print(len(LOCATION),len(job_salary),len(Experience))

10 10
10 10 10

In [241]:
# # Let's create a DataFrame for our data
a={"Job_Title": JOB_titles,"Company_Name": Company_name,"Experience_Required": Experience,"Job_location":job_location,"Salary": job_salary}
jobs_scientist_jobs=pd.DataFrame.from_dict(a, orient='index')
jobs_scientist_jobs=jobs_scientist_jobs.transpose()

In [243]:
jobs_scientist_jobs[:10]

,Job_Title,Company_Name,Experience_Required,Job_location,Salary
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...","3,50,000 - 4,50,000 PA."
1,Data analytics / Data scientist intern (work f...,TalkValley LLC,0-5 Yrs,"Kolkata, Bangalore/Bengaluru, Delhi / NCR","2,00,000 - 3,00,000 PA."
2,Data Scientist,Fractal Analytics,3-7 Yrs,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",Not disclosed
3,Chaayos is Looking For Data Scientist,Chaayos (Sunshine Teahouse Pvt. Ltd.),0-5 Yrs,New Delhi,Not disclosed
4,Junior Data Scientist,R Systems International Ltd.,3-5 Yrs,Noida(Sector-59 Noida),Not disclosed
5,We are hiring- Data Scientist +Python- Noida,RANDSTAD INDIA PVT LTD,4-7 Yrs,"Noida, Gurgaon/Gurugram, Delhi / NCR",Not disclosed
6,Data Scientist,Milliman India Pvt Ltd,2-5 Yrs,"Gurgaon/Gurugram, Delhi / NCR",Not disclosed
7,Data Scientist,NEC CORPORATION INDIA PRIVATE LIMITED,3-8 Yrs,Noida,Not disclosed
8,"Data Analyst/Scientist Big Data, Statistical T...",The Search House (A Div of JSD Search House Pv...,2-7 Yrs,Gurgaon/Gurugram,"5,00,000 - 8,00,000 PA."
9,Business Analyst- Data Scientist,Wipro,2-5 Yrs,"Noida, Gurgaon/Gurugram","3,50,000 - 6,50,000 PA."

# Q4

In [48]:
driver=webdriver.Chrome("chromedriver.exe")

In [49]:
url='https://www.glassdoor.co.in/index.htm'
driver.get(url)

In [50]:
from selenium.common.exceptions import  NoSuchElementException
def glass_door_job(url):
    
    # Let's create empty list for storing the data
    job_title=[]
    company_name=[]
    rating=[]
    days=[]
    temp = []
    
    # Let's load the drivers and URL
    driver = webdriver.Chrome("chromedriver.exe")

    driver.get(url)
    time.sleep(5)
    
    # If we visit the glassdoor page we will observe that, to navigate into the page we have to do the login
    # Let's click on the sign-in butoon for logining
    #driver.find_element_by_xpath('//*[@id="SiteNav"]/nav/div[1]/div[1]/button').click()

        
    #Let's enter the demo login details
    driver.find_element_by_xpath('//input[@id="userEmail"]').send_keys('glassdoortestassignment@gmail.com')
    driver.find_element_by_xpath('//input[@id="userPassword"]').send_keys('Assignment@1234')
    time.sleep(5)
    
    #Let's maximize the window size because there are some text font size is will has other element details in short window
    driver.find_element_by_xpath('//button[@class="gd-ui-button minWidthBtn css-8i7bc2"]').click()
    driver.maximize_window()
    time.sleep(3)
    
    #Let's fill the requied details in search column and click search
    driver.find_element_by_xpath('//*[@id="sc.keyword"]').send_keys('Data Scientist')
    driver.find_element_by_xpath('//*[@id="sc.location"]').send_keys(Keys.CONTROL+'a')
    driver.find_element_by_xpath('//*[@id="sc.location"]').send_keys(Keys.DELETE)
    driver.find_element_by_xpath('//*[@id="sc.location"]').send_keys('Noida (India)')
    time.sleep(5)
    
    #Let's search the desired detail which we hve entered
    driver.find_element_by_xpath('//*[@id="scBar"]/div/button').click()
    time.sleep(5)
    
    jobs=driver.find_elements_by_xpath('//article[@id="MainCol"]/div/ul/li')
    for job in jobs:
        try:
            driver.find_element_by_xpath('//*[@id="JAModal"]/div/div[2]/span').click()
        except:
            pass
        
        job.click()
        time.sleep(3)
    
        # Let's scrape the data
        job_title.append((driver.find_element_by_xpath('//div[@class="css-1vg6q84 e1tk4kwz4"]')).text)
        temp.append((driver.find_element_by_xpath('//div[@class="css-87uc0g e1tk4kwz1"]')).text.replace('\n',''))
        for i in temp:
            for j in i:
                res = ''.join(j for j in i if not j.isdigit())
                fin = res.replace('.', '')
            company_name.append(fin)
        try:
            rating.append((driver.find_element_by_xpath('//span[@data-test="detailRating"]')).text)
        except:
            rating.append('NA')
        try:
            days.append((driver.find_element_by_xpath('//div[@data-test="job-age"]')).text)
        except:
            pass
        
    job_glass_door=pd.DataFrame({})
    job_glass_door['Job Title']=job_title[0:10]
    job_glass_door['Company Name']=company_name[0:10]
    job_glass_door['Ratings']=rating[0:10]
    job_glass_door['Job Posted']=days[0:10]
    return job_glass_door

In [51]:
glass_door_job('https://www.glassdoor.co.in/Salaries/index.htm')

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//input[@id="userEmail"]"}
  (Session info: chrome=91.0.4472.106)

# Q5

In [258]:
def gd_salary_full(url):
    
    # Let's create empty list for storing the data
    gd_min_salary=[]
    gd_max_salary=[]
    gd_avg_salary=[]
    gd_company_name=[]
    gd_rating=[]
    #temp=[]

    
    # Let's load the drivers and URL
    driver = webdriver.Chrome("chromedriver.exe")

    driver.get(url)
    
    
    #Let's navigate to search bar and then type the Data Scientist job, location Noida and then click search button
    driver.find_element_by_xpath('//*[@id="KeywordSearch"]').send_keys('Data Scientist')
    driver.find_element_by_xpath('//*[@id="LocationSearch"]').send_keys(Keys.CONTROL+'a')
    driver.find_element_by_xpath('//*[@id="LocationSearch"]').send_keys(Keys.DELETE)
    driver.find_element_by_xpath('//*[@id="LocationSearch"]').send_keys('Noida (India)')
    time.sleep(3)
    driver.find_element_by_xpath('//button[@class="gd-btn-mkt"]').click()
    time.sleep(8)
    
    #Let's search the element for required details
    companies=driver.find_elements_by_xpath('//div[@data-test="job-info"]/p[2]')
    avg_salary=driver.find_elements_by_xpath('//div[@class="col-2 d-none d-md-flex flex-row justify-content-end"]/strong')
    min_salary=driver.find_elements_by_xpath('//div[@class="common__RangeBarStyle__values d-flex justify-content-between "]/span[1]')
    max_salary=driver.find_elements_by_xpath('//div[@class="common__RangeBarStyle__values d-flex justify-content-between "]/span[2]')
#     rating='NA'
    
    # Let's scrape the data
    for i in companies:
        gd_company_name.append(i.text)
    for i in avg_salary:
        gd_avg_salary.append(i.text)
    for i in min_salary:
        gd_min_salary.append(i.text)
    for i in max_salary:
        gd_max_salary.append(i.text)
        
    # Let's create a DataFrame for our data
    salaries=pd.DataFrame({})
    salaries['Company Name']=gd_company_name[:10]
    salaries['Avgerage Salary']=gd_avg_salary[:10]
    salaries['Minimum Salary']=gd_min_salary[:10]
    salaries['Maximum Salary']=gd_max_salary[:10]
    
    driver.get('https://www.glassdoor.co.in/profile/login_input.htm?userOriginHook=HEADER_SIGNIN_LINK')
    time.sleep(5)
    driver.find_element_by_xpath('//input[@id="userEmail"]').send_keys('glassdoortestassignment@gmail.com')
    driver.find_element_by_xpath('//input[@id="userPassword"]').send_keys('Assignment@1234')
    time.sleep(5)
    driver.find_element_by_xpath('//button[@class="gd-ui-button minWidthBtn css-8i7bc2"]').click()
    time.sleep(10)
    for i in gd_company_name[:11]:
        driver.find_element_by_xpath('//*[@id="sc.keyword"]').send_keys(i)
        driver.find_element_by_xpath('//*[@id="sc.location"]').send_keys(Keys.CONTROL+'a')
        driver.find_element_by_xpath('//*[@id="sc.location"]').send_keys(Keys.DELETE)
        time.sleep(3)
        driver.find_element_by_xpath('//*[@id="scBar"]/div/button').click()
        time.sleep(8)
        try:
            gd_rating.append((driver.find_element_by_xpath('//span[@data-test="detailRating"]')).text.replace('\n', ''))
        except:
            gd_rating.append('NA')
        time.sleep(7)   
        driver.back()
        time.sleep(5) 
    
    salaries['Rating']=gd_rating[:10]
    
    return salaries

In [259]:
gd_salary_full('https://www.glassdoor.co.in/Salaries/index.htm')

Empty DataFrame
Columns: [Company Name, Avgerage Salary, Minimum Salary, Maximum Salary, Rating]
Index: []

# Q6

In [36]:
driver=webdriver.Chrome("chromedriver.exe")

In [37]:
url='https://www.flipkart.com/'
driver.get(url)

In [38]:
#Let's navigate to search bar
driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]').click()
time.sleep(3)

In [39]:
def flipkart_sunglasses(url):
    
    # Let's load the drivers and URL
    driver = webdriver.Chrome("chromedriver.exe")

    driver.get(url)
    driver.implicitly_wait(10)
    
    #Let's navigate to search bar
    driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]').click()
    time.sleep(3)
    
    #Let's search for sunglasses product and then click search button
    driver.find_element_by_xpath('//input[@title="Search for products, brands and more"]').send_keys('sunglasses')
    driver.find_element_by_xpath('//button[@type="submit"]').click()
    time.sleep(3)
    
    # Let's create empty list for storing the data
    sunglass_brand_name=[]
    sunglass_description=[]
    sunglass_price=[]
    sunglass_discount=[]
    
    # Let's scrape the data
    j=0
    while j<3:
        time.sleep(3)
        brands=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
        for brand in brands:
            sunglass_brand_name.append(brand.text)
        
        descriptions=driver.find_elements_by_xpath('//a[contains(@class,"IRpwTa")]')
        for description in descriptions:
            sunglass_description.append(description.text)
        
        prices=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
        for price in prices:
            sunglass_price.append(price.text)
        
        discounts=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
        for discount in discounts:
            sunglass_discount.append(discount.text)
        if j==0:
            driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
        elif j==1:
            driver.find_element_by_xpath('//nav[@class="yFHi8N"]/a[12]').click()
        else:
            pass
        j+=1
        
    # Let's create a DataFrame for our data   
    sunglasses_flip=pd.DataFrame({})
    sunglasses_flip['Product Brand']=sunglass_brand_name[:100]
    sunglasses_flip['Product Description']=sunglass_description[:100]
    sunglasses_flip['Price of Product']=sunglass_price[:100]
    sunglasses_flip['Discount on Product']=sunglass_discount[:100]
    return sunglasses_flip

In [40]:
flipkart_sunglasses('https://www.flipkart.com/')

,Product Brand,Product Description,Price of Product,Discount on Product
0,PIRASO,UV Protection Aviator Sunglasses (54),237,85% off
1,Fastrack,UV Protection Rectangular Sunglasses (Free Size),541,32% off
2,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",537,32% off
3,PIRASO,UV Protection Aviator Sunglasses (54),237,85% off
4,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",299,88% off
...,...,...,...,...
95,ROYAL SON,UV Protection Round Sunglasses (50),399,73% off
96,PIRASO,UV Protection Aviator Sunglasses (50),331,79% off
97,NuVew,"UV Protection, Night Vision, Riding Glasses Sp...",209,77% off
98,GANSTA,"UV Protection, Gradient Aviator Sunglasses (57)",233,82% off
99,GANSTA,UV Protection Aviator Sunglasses (57),233,77% off

# Q7

In [41]:
def iphone_100_review(url):
    
    # Let's load the drivers and URL
    driver = webdriver.Chrome("chromedriver.exe")

    driver.get(url)
    time.sleep(5)
    
    # Let's create empty list for storing the data
    rating=[]
    review_summary=[]
    full_review=[]
    
    # Let's scrape the data
    j=0
    while j<10:
    
        ratings=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
        for i in ratings:
            rating.append(i.text)
        
        reviews=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
        for i in reviews:
            review_summary.append(i.text)
        
        full_reviews=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
        for i in full_reviews:
            full_review.append(i.text)
        time.sleep(10)    
        
        driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
        time.sleep(10)
        j+=1
        time.sleep(10)
    
    # Let's create a DataFrame for our data
    iphone_review=pd.DataFrame({})
    iphone_review['Rating']=rating
    iphone_review['Review Summary']=review_summary
    iphone_review['Full Reviews']=full_review
    return iphone_review

In [42]:
iphone_100_review('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace')

,Rating,Review Summary,Full Reviews
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Great product,Amazing Powerful and Durable Gadget.\n\nIm am...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Terrific,Really worth of money. i just love it. It is t...
96,5,Classy product,Superb Product !!!\nA big and worthy upgrade f...
97,5,Highly recommended,It's my first time to use iOS phone and I am l...
98,5,Wonderful,This is my first ever I phone. Before this I w...
99,5,Brilliant,"I have migrated from OP 7pro... and trust me, ..."

# Q8

In [43]:
def flip_sneakers(url):
    
    # Let's load the drivers and URL
    driver = webdriver.Chrome("chromedriver.exe")
    driver.get(url)
    
    #Let's navigate to search bar
    driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]').click()
    time.sleep(3)
    
    #Let's search for sneaker product and then click search button
    driver.find_element_by_xpath('//input[@title="Search for products, brands and more"]').send_keys('sneakers')
    driver.find_element_by_xpath('//button[@type="submit"]').click()
    time.sleep(3)
    
    # Let's create empty list for storing the data
    sneaker_brand_name=[]
    sneaker_description=[]
    sneaker_price=[]
    sneaker_discount=[]
    
    # Let's scrape the data
    j=0
    while j<3:
        time.sleep(3)
        brands=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
        for brand in brands:
            sneaker_brand_name.append(brand.text)
        
        descriptions=driver.find_elements_by_xpath('//a[contains(@class,"IRpwTa")]')
        for description in descriptions:
            sneaker_description.append(description.text)
        
        prices=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
        for price in prices:
            sneaker_price.append(price.text)
        
        discounts=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
        for discount in discounts:
            sneaker_discount.append(discount.text)
        if j==0:
            driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
        elif j==1:
            driver.find_element_by_xpath('//nav[@class="yFHi8N"]/a[12]').click()
        else:
            pass
        j+=1
        
    # Let's create a DataFrame for our data   
    sneakers_flipkart=pd.DataFrame({})
    sneakers_flipkart['Brand Name']=sneaker_brand_name[:100]
    sneakers_flipkart['Product Descriptions']=sneaker_description[:100]
    sneakers_flipkart['Price']=sneaker_price[:100]
    sneakers_flipkart['Discount %']=sneaker_discount[:100]
    return sneakers_flipkart

In [45]:
flip_sneakers('https://www.flipkart.com/')

,Brand Name,Product Descriptions,Price,Discount %
0,India hub,Fashionable casual sneakers shoes Sneakers For...,389,2610 off
1,CALCADOS,Modern Trendy Shoes Combo pack of 4 Sneakers F...,748,1248 off
2,Shoes Bank,White Sneaker For Men's/Boy's Sneakers For Men,349,650 off
3,Robbie jones,Sneakers For Men,474,525 off
4,ORICUM,Combo pack of 2 casual sneaker shoes for men S...,377,621 off
...,...,...,...,...
95,PUMA,Simha IDP Sneakers For Men,"1,397",1602 off
96,BRUTON,Combo Pack of 2 Casual Shoes Sneakers For Men,359,2140 off
97,FILA,EMAN Sneakers For Men,"1,333",1766 off
98,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,499,1497 off
99,bluemaker,casual for men Sneakers For Men,474,525 off

# Q9

In [46]:
def shoes_myntra(url):
    
    # Let's load the drivers and URL
    driver = webdriver.Chrome("chromedriver.exe")
    driver.get(url)
    time.sleep(5)
    
    # Let's create empty list for storing the data
    brand_name=[]
    description=[]
    product_price=[]
    
    #Let's apply filter for price
    driver.find_element_by_xpath('//ul[@class="price-list"]/li[2]').click()
    time.sleep(3)
    
    #Let's apply filter for colour
    driver.find_element_by_xpath('//span[@data-colorhex="black"]').click()
    time.sleep(3)
    
    # Let's scrape the data
    j=0
    while j<2:
        time.sleep(5)
        
        brands=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
        for q in brands:
            brand_name.append(q.text)
        
        descs=driver.find_elements_by_xpath('//h4[@class="product-product"]')
        for q in descs:
            description.append(q.text)
        
        prices=driver.find_elements_by_xpath('//div[@class="product-price"]')
        for q in prices:
            product_price.append(q.text)
        
        driver.find_element_by_xpath('//a[@rel="next"]').click()    
        time.sleep(5)
        j+=1
    
    # Let's create a DataFrame for our data
    myntra_shoes=pd.DataFrame({})
    myntra_shoes['Brand of the Shoes']=brand_name[0:100]
    myntra_shoes['Short Shoes Description']=description[0:100]
    myntra_shoes['Price of the Shoes']=product_price[0:100]
    return myntra_shoes

In [47]:
shoes_myntra('https://www.myntra.com/shoes')

,Brand of the Shoes,Short Shoes Description,Price of the Shoes
0,Nike,Men ZOOM FREAK 2 Basketball,Rs. 7721Rs. 10295(25% OFF)
1,Tommy Hilfiger,Men Solid Leather Sneakers,Rs. 7999
2,Nike,Unisex COSMIC UNITY Basketball,Rs. 11470Rs. 13495(15% OFF)
3,Skechers,Men GO RUN 7+ Running Shoes,Rs. 9999
4,Nike,Men JORDAN DELTA Basketball,Rs. 12495
...,...,...,...
95,RAPAWALK,Wide Width Leather Oxfords,Rs. 8850
96,Heel & Buckle London,Women Peep Toe Heels,Rs. 7192Rs. 8990(20% OFF)
97,FILA,Women Sneakers Casual Shoes,Rs. 7999
98,Ruosh,Men Formal Leather Brogues,Rs. 7490
99,Cole Haan,Women Leather Sneakers,Rs. 7699Rs. 10999(30% OFF)

# Q10

In [52]:
driver=webdriver.Chrome("chromedriver.exe")

In [53]:
url='https://www.amazon.in'
driver.get(url)

In [54]:
 #Let's search for laptop product and then click search button
driver.find_element_by_xpath('//input[@id="twotabsearchtextbox"]').send_keys('Laptop')
driver.find_element_by_xpath('//input[@type="submit"]').click()

In [55]:
#Let's apply filter for "Intel Core i7"
driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a',).click()
time.sleep(5)

In [56]:
#Let's apply filter for "Intel Core i9"  
driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/16757432031"]/span/a').click()

In [57]:
 # Let's create empty list for storing the data
item_title=[]

In [58]:
# Let's scrape the data
titles=driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in titles:
    item_title.append(i.text)

In [60]:
# Let's create empty list for storing the data
price=[]

In [61]:
# Let's scrape the data
prices=driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
for i in prices:
    price.append(i.text)

In [62]:
# Let's create empty list for storing the data
rating=[]

In [63]:
# Let's scrape the data
ratings=driver.find_elements_by_xpath('//div[@class="a-row a-size-small"]/span[1]')   
for i in ratings:
    rating.append(i.get_attribute('aria-label'))

In [64]:
# Let's create a DataFrame for our data
amazon_laptops=pd.DataFrame({})
amazon_laptops['Title']=item_title[:10]
amazon_laptops['Price']=price[:10]
amazon_laptops['Rating']=rating[:10]

In [65]:
amazon_laptops[:10]

,Title,Price,Rating
0,Lenovo Yoga Slim 7 10th Gen Intel Core i7 14 i...,"83,990",3.2 out of 5 stars
1,"Lenovo Yoga 7 11th Gen Intel Core i7 14"" (35.5...","97,990",4.2 out of 5 stars
2,Mi Notebook Horizon Edition 14 Intel Core i5-1...,"54,999",4.4 out of 5 stars
3,"Dell Inspiron 5410 14"" FHD Touch Display 2in1 ...","84,990",4.5 out of 5 stars
4,HP Pavilion (2021) Thin & Light 11th Gen Core ...,"26,990",3.1 out of 5 stars
5,Life Digital Laptop 15.6-inch (39.62 cms) (Int...,"89,000",4.7 out of 5 stars
6,"HP 14 Thin & Light 14"" (35.56cms) FHD Laptop (...","2,69,990",3.8 out of 5 stars
7,"ASUS ROG Zephyrus Duo 15, 15.6"" 4K UHD, Intel ...","86,990",4.1 out of 5 stars
8,HP Pavilion Gaming 10th Gen Intel Core i7 Proc...,"97,990",4.2 out of 5 stars
9,"Lenovo Yoga 7 11th Gen Intel Core i7 14"" (35.5...","51,999",4.4 out of 5 stars